/*************************************/
/**** * MOVIL y Generales total * ****/
/*************************************/

/************** TIPOGRAFÍA ***********/
@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*************************************/
/*** * * * PALETA DE COLORES * * * ***/
/*************************************/

:root {
    --color-blanco: white;
    --color-rojo: #E63946;
    --color-negro: black;
    --transparente: transparent;
    --color-rojo-hover: #BC0A0A;
    --color-borde-hover: red;
    --colorFondo1: rgb(35, 35, 35); 
    --backForm:rgb(23,23,23);
    --backInputs:rgba(0, 0, 0, 0.1);
    --color-texto:rgb(153, 137, 130);
}
/*************************************/
/*** * * * * * * RESET * * * * * * ***/
/*************************************/
* {
    margin: 0;
    padding: 0;        
}
*,
*::after,
*::before {
    box-sizing: border-box;
}
/************************************/
/*** * * * * * * BODY * * * * * * ***/
/************************************/
body {
    color: var(--color-texto);
    background-color: var(--colorFondo1);
    font-family: Roboto, sans-serif;
    overflow-x: hidden; 
    position: relative;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
/**************************************/
/*** * * * * * * HEADER * * * * * * ***/
/**************************************/
header.home-header {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2));
    background-position: top right;
    background-repeat: no-repeat;
    padding: 20px 20px 600px;
    background-size: cover;
    height: 50vh;
}
.section-header {
    padding-bottom: 100px;
}
.section-text-container, .text-container {
    flex-direction: column;
    margin: 0 35px 0 15px;
    display: flex;
}
h1 {
    font-family: "Protest Revolution", sans-serif;
    font-size: 3rem;
}
.caja-titulo {
    padding-right: 0;
}
.caja-titulo h2 {
    font-family: Roboto, sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--color-blanco);
}
.header-h2 {
    padding: 35px 0 15px;
    font-family: "Protest Revolution", sans-serif;
    font-size: 3rem;
}
h2 > span.color-secon {
    color: var(--color-rojo);
    font-family: arial, sans-serif;
    font-weight: 700;
}
.caja-titulo p {
    text-shadow: 1px 1px 2px black;
    padding: 15px 0 30px;
    font-size: 0.9rem;
    max-width: 560px;
    line-height: 1.5;
    
}
/**************************************/
/**** * * CONTENEDOR PRINCIPAL * * ****/
/**************************************/

/* --- Clases del contenedor principal
de cada sección -- es decir, cada sección
tiene un contendor principal --- */
/* -- El nav contiene adentro el LOGO (dentro del logo está el h1)
y el MENU -- */

.section-principal-box, .principal-box {
    max-width: 1500px;
    padding: 10px;
    margin: auto;
}
.section-logo-container, .logo-container {
    align-items: center;
    display: flex;
    width: fit-content;
}
.section-logo, .logo {
    margin-right: 10px;
    width: 50px;
    height: 50px;
}
.section-main-title, .main-title {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 100px;
}
.section-title, .title {
    margin: 0;
    font-size: 2rem;
    font-weight: 500;
}
.section-subtitle, .subtitle {
    font-size: 12px;
    color: #ccc;
    margin: 0;
}
.section-title-box {
    padding-right: 300px;
}
/*.section-main-title span {
    color: var(--color-rojo);
}*/

/**************************************/
/****** * * * * * MENU * * * * * ******/
/**************************************/

/*     === bars y x (abrir y cerrar) === */
svg.bars {
    position: absolute;
    right: 30px;
    top: 40px;
    z-index: 5;
}
.bars > path, .times > path {
    fill: white;
    cursor: pointer;
}
svg.bars:hover > path, svg.times:hover > path {
    fill: var(--color-rojo);
    transition: .5s;
}
/*     === Menú lateral === */
nav.main-menu {
    background-color: #232323;
    color: #fff;
    padding: 20px;
    width: 320px;
    position: fixed;
    top: 0;
    left: -320px;
    bottom: 0;
    transition: left 0.5s ease; /* animación de entrada/salida */
    z-index: 50;
}
nav.main-menu.open {
    left: 0;
}
.main-menu a {
    text-decoration: none;
    color: #fff;
}
.main-menu a:hover {
    color: var(--color-rojo);
}
/*     === Header menú === */
.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.nav-logo {
    display: flex;
    gap: 8px;
    align-items: center;
}
.nav-logo h4 {
    font-family: "Protest Revolution", sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
}
.nav-logo > img {
    width: 32px;
}
/*    === Lista principal === */
ul.list-menu {
    font-size: 1.2rem;
    list-style: none;
}
ul.list-menu li {
    margin-bottom: 20px;
    /*padding-bottom: 10px;*/
}
/*    === Submenús === */
nav.main-menu li > ul {
    padding-left: 20px;
    list-style: none;
}
/*    === Cabecera del submenú (texto + flecha) === */
.submenu-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    cursor: pointer;
    color: var(--color-blanco);
}
.submenu-item:hover {
    color: var(--color-rojo);
    transition: color 0.5s;
}
.submenu-item > svg {
    position: relative;
    top: -7px;
}
/*    === Flecha === */
.down {
    transition: transform 0.5s ease;
    cursor: pointer;
}
.down.rotated {
    transform: rotate(180deg);
}
/*    === Contenedor del submenú oculto con animación ===  */
.sub {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease;
    opacity: 0;
}
.sub.open {
    max-height: 500px; /* suficiente para mostrar todos los items */
    opacity: 1;
    
}
/*    === Menú para pc ===    */
#nav-container-pc {
    display: none;
}
/**************************************/
/******** * * ROTAR ICONO * * *********/
/**************************************/

.rotate {
    transition: transform 0.3s ease;
    transform: rotate(180deg);
}
/**************************************/
/**** * * * NUMERO DE PERSONAS * * ****/
/**************************************/
.section-media-num, .media-num {    
    display: none;
}
.students, .years-experience {
    padding-right: 50px;
    color: var(--color-blanco);
}
.students h2, .years-experience h2 {
    font-size: 3rem;
}
.flex-num, .section-flex-num {
    display: block;
    display: flex;
    padding-top: 20px;
}
/**************************************/
/****** * * * * Botones * * *  * ******/
/**************************************/
.boton { 
    display: flex;
}
.section-button {
    display: flex;
}
.section-cta-button, .cta-button {
    transition: background-color 0.3s ease, transform 0.2s ease;
    background-color: var(--color-rojo);
    border: 1px solid var(--color-rojo);
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 5px;
    margin-right: 50px;
    font-size: 14px;
    cursor: pointer;
    color: white;
}
.section-cta-button:hover, .cta-button:hover {
    background-color: var(--color-negro);
    color: var(--color-rojo);
    transform: scale(1.05);
}
.btn-pc-only {
    display: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
    background-color: var(--color-rojo);
    border: 1px solid var(--color-rojo);
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    color: white;
    max-width: 110px;
}
.btn-pc-only:hover {
    background-color: var(--color-negro);
    color: var(--color-rojo);
    transform: scale(1.05);
}
.enroll-btn1 , .section-enroll-btn1 {
    display: block;
    margin-right: 50px;
}
.section-enroll-btn2, .enroll-btn2 {
    transition: background-color 0.3s ease, transform 0.2s ease;
    padding: 15px 25px;
    border-radius: 5px;
    border: none;
}
.section-enroll-btn2:hover, .enroll-btn2:hover {
    border: 1px solid var(--color-blanco);
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--color-blanco);
    transform: scale(1.05);
}
/**************************************/
/******** * * * * FONDO * * * * *******/
/**************************************/
.fondo{
    background-color: var(--colorFondo1);
}
.fondo_2{
    background-color: #1d1d1d;
}
.circulo-fondo{
    background-color: var(--color-rojo);
     filter: blur(240px); 
    border-radius: 100%;
    width: 300px;
    height: 300px;
    position:relative;
    top: 0%;
    bottom: auto;
    left: 0;
    z-index: -1;
}
/**************************************/
/***** * * flex y cajas de dos * * ****/
/***** * * caja de imagenes * * *******/
/**************************************/
.caja-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.seccion-tipo-imgs {
    margin-top: 30px;
    padding-bottom: 50px;
}
.content-flex {
    flex: 328px 1 1;
    text-align: center;
}
.seccion-tipo-imgs .content-flex .caja-flex {
    gap: 20px;
}
.seccion-tipo-imgs .content-flex.caja-flex {
    position: relative;
    justify-content: center;
}
.imagen_hrs {
    height: 380px;
    max-width: 139px;
    flex: 130px 1 1;
    position: relative;
    object-fit: cover;
    width: 100%;
    overflow: hidden;
    object-position:center ; /* Mueve la imagen hacia la derecha */
    filter: drop-shadow(1px 2px 4px black);
    z-index: 10;
    }
.img-top {
    margin-top: 80px;
}
.icono-yin {
    object-fit: cover;
    margin-left: -90px; 
    inset: 86% auto auto 40%; 
    background-image: url("../img/yingArriba.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 122px;
    height: 92px;
    position: absolute;
    z-index: 21;
}
.icono-yan {
    object-fit: cover;
    margin-left: -90px; 
    inset: -1% auto auto 70%; 
    background-image: url("../img/yangParaAbajo.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 93px;
    height: 70px;
    position: absolute;
    z-index: 21;
}
/**************************************/
/* mover un poco el icono antes de ser ordenador */
/**************************************/
@media (min-width: 690px) {
    .icono-yan {
        inset: -2% auto auto 80%;
    }
}
.yin-sect2 {
    inset: 62% auto auto 104%;
    width: 73px;
    height: 55px;
    transform: rotate(244deg);
}
.yan-sect2{
    inset: -13% auto auto 7%;
    z-index: 11;
    transform: rotate(159deg);
}
/**************************************/
/************* CONTENIDO **************/
/**************************************/
.titulos {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 2.8rem;
    color: var(--color-blanco);
    padding: 10px 0;
}
.blanco {
    color: var(--color-blanco);
    font-weight: 500;
}
.rojo {
    font-weight: 400;
    color: var(--color-rojo);
}
.seccion-tipo-imgs .flex-izq {
    gap: 20px;
    align-items: center;
    display: flex;
    text-align: justify;
}
.seccion-tipo-imgs .nums {
    color: var(--color-blanco);
    letter-spacing: .2em;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    transition: .5s;
}
.seccion-tipo-imgs .caja-mar:hover .nums {
    color: var(--color-rojo);
    transition: .5s;
}
/**************************************/
/**** desplegable / caja de iconos ****/
/**************************************/
.icon-arrow {
    transform: scale(1.1);
    color: var(--color-rojo); 
    font-size: 1.7rem
    /* 1.5rem */
}
.acordeon {
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease-out; 
}
.desplegable {
    cursor: pointer;
    width: 100%;
}
.img-flex {
    flex: 310px 1 1;
}
.seccion-tipo-imgs .caja-mar .icon-arrow {
    color: var(--color-rojo);
    transition: .5s;
}
.seccion-tipo-imgs .caja-mar {
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    display: flex;
    background-color: #2f2e2e;
    width: 100%;    
    cursor: pointer;
}
.seccion-tipo-imgs .caja-mar:hover h3,  .seccion-tipo-imgs .caja-mar:hover .icon-arrow{
    color: var(--color-blanco);
    transition: .5s;
}
.seccion-tipo-imgs .caja-mar h3 {
    font-weight: 400;
    color: var(--color-rojo);
    font-size: 2rem;
    transition: .5s;
}
.seccion-tipo-imgs p {
    color: var(--color-texto);
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5em;
}
main i {
    color: var(--color-rojo);
}
.icons-caja{
    justify-content: space-between;
}
.icons-caja>span{
    color: var(--color-blanco);
    margin: 5px;
    font-size: 1.5rem;
    box-shadow: 10px 20px 20px 0px rgba(0, 0, 0, 0.4); /* Agrega una sombra sutil */
}
/**************************************/
/*********** caja de imagenes *********/
/**************************************/
.video.img-flex {
    width: 100%;
    height: 370px;
    position: relative;
    flex: 400px 1 1;
}
.video-contain {
    width: 100%;
    margin: auto;
    height:350px; 
    filter: sepia(100%);
    border: none;
    border-radius: 5px; 
    box-shadow: 10px 20px 20px 0px rgba(0, 0, 0, 0.4); /* Agrega una sombra sutil */
}
/**************************************/
/*** * * SECCION SOBRE NOSOTROS * * ***/
/**************************************/
h2.aportan, p.aportan-concep {
    margin: 0;
    padding: 10px 0;
}
/**************************************/
/***** * * SECCION SOBRE TAMO * * *****/
/**************************************/
.seccion-tipo-video {
    padding: 20px 0;
}
.caja2-flex {
    margin: 0;
    padding: 0 0 30px;
}
.seccion-tipo-video .content-flex {
    padding-bottom: 20px;
}
/*.seccion-tipo-video h2 {
    margin-bottom: 10px;
}*/
.cel-titulo{
    display:block;
}
.titulo-cel-sobre-t {
    color: var(--color-rojo);
    margin: 0;
    font-weight: 400;
}
.subtitulo-cel-sobre-t {
    color: var(--color-blanco);
    text-transform: capitalize;
    padding: 30px 0 60px;
    font-size: 2.8rem;
    font-weight: 400;
    margin: 0;  
    /*margin-bottom: 10px;
    margin-top: 10px;*/
}
.seccion-tipo-video .content-flex p {
    color: var(--color-texto);
    padding: 10px 0 20px;
    line-height: 1.5em;
    font-size: 1.6rem;
    font-weight: 300;
    font-size: 18px;
    margin: 0;
} /*esta p se queda aqui*/
.desp {
    display: none;
}
.animo {
    color: var(--color-rojo);
    font-style: italic;
    padding: 5px 0 0;
    font-size:1.2rem;
}
#seccion-sobreTa-mo .yin-sect-tamo {
    inset: -40% auto auto 17%;
    transform: rotateX(190deg);
}
#seccion-sobreTa-mo .yan-sect-tamo {
    inset: 70% auto auto 85%;
    z-index: 1;
}
/**************************************/
/******* * * Iconos Fa Fa * * *********/
/**************************************/
.section-header .fa {
    margin-left: 5px;
}
.fa-sort-down {
    margin-left: 5px;
}
.pc-icono{
    display: none;
}
/**************************************/
/*********** caja de iconos ***********/
/**************************************/
.icons-caja {
    justify-content: space-between;
}
.icons-caja>span {
    color: var(--color-blanco);
    margin: 5px;
    font-size: 1.5rem;
    box-shadow: 10px 20px 20px 0px rgba(0, 0, 0, 0.4); /* Agrega una sombra sutil */
}
.image-contain {
     filter: contrast(0.5);
    margin: auto;
    object-fit: contain;
    max-width: 200px;
}
/* rotación del icono */
.section-rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}
/**************************************/
/*** SECCION2 / Maestros / Docentes ***/
/**************************************/
.fondo_2 {
    position: relative;
    padding-bottom: 30px;
}
.circulo-fondo_centro{
    overflow: auto;
    background-color: var(--color-rojo);
    filter: blur(200px); 
    border-radius: 100%;
    max-width: 300px;
    max-height: 300px;
    width: 160px;
    height: 160px;
    position: absolute;
    top: 0%;
    bottom: auto;
    left: 50%;
}
.titulo-team-container {
    text-align:center;
    padding: 40px 0px;
}
.caja_flex_docentes {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    position: relative;
}
.content-docentes {
    flex: 1 1 150px; /* Los elementos de flex ahora se distribuyen con flexibilidad */
    text-align: center;
}
.content-img {
    position: relative;
    overflow: hidden;
    margin: auto;
    max-width: 200px;
    max-height: 170px;
    margin-bottom: 10px;
}
.image-cover {
    object-fit: cover; /* Ajusta la imagen a las dimensiones del contenedor */
    width: 100%;
    height: 200px;
    object-position: top;
    transition: transform 1s, opacity 1s; /* Optimizado para que ambas transiciones tengan la misma duración */
}
.content-img .image-cover:hover {
    transform: scale(1.1);
    opacity: 1; /* Se asegura que la opacidad sea 1 durante el hover */
}
.nombres {
    font-size: 1.3rem;
    padding-bottom: 10px;
    font-weight: 600;
    transition: font-size 0.5s; /* Asegura que la transición afecte solo a lo necesario */
}
.nombres.rojo:hover {
    color: var(--color-blanco);
    transition: 0.5s;
}
h3.posicion {
    color: var(--color-texto);
}
            /****    ===== TITULACIONES =====    ****/
.titulaciones h2 {
    color: var(--color-rojo);
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2.5rem;
}
.titulaciones a {
    color: var(--color-rojo);
}
.parte-superior, .parte-inferior {
    flex: 1; /* Mitad del alto cada una */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
    text-align: center;
    padding: 10px;
    color: var(--color-texto);
}
.parte-inferior {
    flex-direction: column; /* Para que los <p> estén uno debajo del otro */
    line-height: 1.5rem;
    font-size: 1.1rem;
}
.parte-inferior p:last-of-type {
    margin-top: 30px;
}
.beneficios {
    text-align: center;
    flex: 310px 1 1;
}
/**************************************/
/******* * * * * FOOTER * * * * *******/
/**************************************/
footer {
    padding-top: 30px;
    position: relative;
    overflow: hidden;
}
footer .faq-h3 {
    font-size: 2rem;
}
footer .faq-p {
    padding: 10px 0 60px;
}
footer .imagen-faq {
    width: 100%; 
    max-width: 500px; 
    position: relative; 
}
footer .logo-tamo-footer {
    max-width: 300px;
    width: 100px;
}
footer .container-lets {
    padding: 0 30px;
}
footer .container-lets h2 {
    font-size: 4rem;
}
footer .caja-mar {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: flex;
}
footer .desplegable {
    background-color: #2f2e2e;
    width: 100%;
    padding: 30px 20px;
}
footer .img-flex.video {
    text-align: center;
}
footer .caja-flex .content-flex {
    height: 100%;
}
footer .caja-mar h3 {
    font-weight: 500;
    color: var(--color-rojo);
    font-size: 1.2rem;
}
footer p {
    color: var(--color-texto);
    line-height: 1.5em;
    font-weight: 300;
    padding: 10px 0;
    font-size: 15px;
}
            /******* footer-logo ******/
footer .caja-flex.text_logo {
    justify-content: center;
    padding: 49px 0;
    flex-wrap: wrap;
    display: flex;
    gap: 30px;
}
footer .text_logo {
    text-align: center;
}
            /****** footer-copy ******/
.footer-caja-flex {
    border-top: 1px solid var(--color-texto);
    padding: 70px 0px;
    display: flex;
    gap: 5px;
    color: var(--color-blanco);
    flex-wrap: wrap;
    justify-content: center;
}
.foot-menu-flex {
    list-style: none;
    gap: 10px;
    display: flex;
}
.content-copy {
    text-align: center;
}
.foot-menu-flex a {
    font-size: 0.9rem;
    text-decoration: none;
    color: var(--color-blanco);
    transition: 0.4s;
}
.foot-menu-flex a:hover {
    color: var(--color-rojo);
    transition: 0.4s;
}
.circulo-fondo_foot {
     filter: blur(200px); 
    background-color: var(--color-rojo);
   position: absolute;
    border-radius:50%;
    width: 300px;
    height: 200px;
    left: 40%;  
}
            /****** footer-boton ******/

footer .cta-button {
   margin: 10px 0 0 0;
}
footer .enroll-btn1 {
    display: inline-block;
    margin-bottom: 20px;
}
/**************************************/
/******* * * REDES SOCIALES * * ******/
/**************************************/
.redes-sociales {
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 30px;               
    padding: 20px;           
}
.redes-sociales a {
    color: var(--color-blanco);
    font-size: 2.5rem;
    text-decoration: none;
    transition: color 0.3s;
}
.redes-sociales a:hover {
    color: var(--color-rojo);
    transform: scale(1.1);
}
/**************************************/
/******* * * BOTON IR ARRIBA * * ******/
/**************************************/
div.boton-arriba {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-blanco);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 5%;
    right: 2%;
}
div.boton-arriba:hover {
    background-color: var(--color-rojo);
}
div.boton-arriba i {
    font-size: 20px;
    color: var(--color-negro);
}
div.boton-arriba:hover > i {
    color: var(--color-blanco);
}
/**************************************/
/******* * * * ANIMACIÓN * * * ********/
/**************************************/
/* Esta animación solo funciona si está activo el JS */
.animado {
    align-items: center;
    opacity: 0;/* Ocultar inicialmente */ 
    transform: translateY(50px);/* Desplazar hacia abajo */
    transition: opacity 1s ease-out, transform 1s ease-out;/* Animación */
}
.animado.active {
    opacity: 1;/* Mostrar al activarse */
    transform: translateY(0); /*Volver a la posición original */
}


