/*************************************/
/**** * MOVIL y Generales total * ****/
/*************************************/

/************** TIPOGRAFÍA ***********/
@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*************************************/
/*** * * * PALETA DE COLORES * * * ***/
/*************************************/

:root {
    --color-blanco: white;
    --color-rojo: #E63946;
    --color-negro: black;
    --transparente: transparent;
    --color-rojo-hover: #BC0A0A;
    --color-borde-hover: red;
    --colorFondo1: rgb(35, 35, 35); 
    --backForm:rgb(23,23,23);
    --backInputs:rgba(0, 0, 0, 0.1);
    --color-texto:rgb(153, 137, 130);
    --desplegable: #2f2e2e;
}
/*************************************/
/*** * * * * * * RESET * * * * * * ***/
/*************************************/
* {
    margin: 0;
    padding: 0;  
}
*,
*::after,
*::before {
    box-sizing: border-box;
}
/************************************/
/*** * * * * * * BODY * * * * * * ***/
/************************************/
body {
    color: var(--color-texto);
    background-color: var(--colorFondo1);
    font-family: Roboto, sans-serif;
    overflow-x: hidden; 
    position: relative;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--color-blanco);
}
a:hover {
    color: var(--color-rojo);
}
main.index {
    padding-top: 10px;
}
h4, h5, h6 {
    color: var(--color-blanco);
    margin: 10px 0px;
}
section:nth-child(odd) {
    background-color: #292929;
    /*Alternar colores de fondo*/
}
strong {
    color: var(--color-blanco);
}
span.h2-2p {
    color: var(--color-rojo);
}
/**************************************/
/*** * * * * * * HEADER * * * * * * ***/
/**************************************/
header.home-header {
    padding: 20px;
}
.section-header {
    padding-bottom: 100px;
}
.section-text-container, .text-container {
    flex-direction: column;
    margin: 0 35px 0 15px;
    display: flex;
}
h1 {
    font-family: "Protest Revolution", sans-serif;
    font-size: 3rem;
    color: var(--color-blanco);
}
.caja-titulo {
    padding-right: 0;
}
#header_img {
    position: absolute;
    top: -50px;
    right: -30px;
    z-index: -100;
    width: 130%;
    max-width: 1000px;
    opacity: 0;
    animation: header_img_animation;
    right: -100%;
    animation-delay: 0.5s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    filter: drop-shadow(-10px 5px 10px #000);
}
@keyframes header_img_animation {
    0% {
        opacity: 0;
        right: -100%;
    }
    100% {
        opacity: 1;
        right: -30%;
    }
}
.caja-titulo h2 {
    font-family: Roboto, sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--color-blanco);
}
.header-h2 {
    padding: 35px 0 15px;
    font-size: 3rem;
}
h2 > span.color-secon {
    color: var(--color-rojo);
    font-family: arial, sans-serif;
    font-weight: 700;
}
.caja-titulo p {
    text-shadow: 1px 1px 2px black;
    padding: 15px 0 30px;
    font-size: 0.9rem;
    max-width: 300px;
    line-height: 1.5;
    
}
/**************************************/
/**** * * CONTENEDOR PRINCIPAL * * ****/
/**************************************/

/* --- Clases del contenedor principal
de cada sección -- es decir, cada sección
tiene un contendor principal --- */
/* -- El nav contiene adentro el LOGO (dentro del logo está el h1)
y el MENU -- */

.principal-box {
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    position: relative;
}
.section-logo-container, .logo-container {
    align-items: center;
    display: flex;
    width: fit-content;
}
.section-logo, .logo {
    margin-right: 10px;
    width: 50px;
    height: 50px;
}
h2.main-title {
    text-align: center;
    font-size: 2.5rem;
    padding: 100px 0;
    color: var(--color-blanco);
}
.section-title, .title {
    margin: 0;
    font-size: 2rem;
    font-weight: 500;
}
.section-subtitle, .subtitle {
    font-size: 12px;
    color: #ccc;
    margin: 0;
}
.section-title-box {
    padding-right: 300px;
}
/*.section-main-title span {
    color: var(--color-rojo);
}*/

/**************************************/
/****** * * * * * MENU * * * * * ******/
/**************************************/

/*     === bars y x (abrir y cerrar) === */
svg.bars {
    position: absolute;
    right: 30px;
    top: 40px;
    z-index: 5;
    cursor: pointer;
}
.bars > path, .times > path {
    fill: white;
}
svg.bars:hover > path, svg.times:hover > path {
    fill: var(--color-rojo);
    transition: .5s;
}
/*     === Menú lateral === */
nav.main-menu {
    background-color: #232323;
    color: #fff;
    padding: 20px;
    width: 320px;
    position: fixed;
    top: 0;
    left: -320px;
    bottom: 0;
    transition: left 0.5s ease; /* animación de entrada/salida */
    z-index: 50;
}
nav.main-menu.open {
    left: 0;
}
.main-menu a {
    text-decoration: none;
    color: #fff;
}
.main-menu a:hover {
    color: var(--color-rojo);
}
/*     === Header menú === */
.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.nav-logo {
    display: flex;
    gap: 8px;
    align-items: center;
}
.nav-logo h4 {
    font-family: "Protest Revolution", sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
}
.nav-logo > img {
    width: 32px;
}
/*    === Lista principal === */
ul.list-menu {
    font-size: 1.2rem;
    list-style: none;
}
ul.list-menu li {
    margin-bottom: 20px;
    /*padding-bottom: 10px;*/
}
/*    === Submenús === */
nav.main-menu li > ul {
    padding-left: 20px;
    list-style: none;
}
/*    === Cabecera del submenú (texto + flecha) === */
.submenu-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    cursor: pointer;
    color: var(--color-blanco);
}
.submenu-item:hover {
    color: var(--color-rojo);
    transition: color 0.5s;
}
.submenu-item > svg {
    position: relative;
    top: -7px;
}
/*    === Flecha === */
.down {
    transition: transform 0.5s ease;
    cursor: pointer;
}
.down.rotated {
    transform: rotate(180deg);
}
/*    === Contenedor del submenú oculto con animación ===  */
.sub {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease;
    opacity: 0;
}
.sub.open {
    max-height: 500px; /* suficiente para mostrar todos los items */
    opacity: 1;
    
}
/*    === Menú para pc ===    */
#nav-container-pc {
    display: none;
}
/**************************************/
/******** * * ROTAR ICONO * * *********/
/**************************************/

.rotate {
    transition: transform 0.3s ease;
    transform: rotate(180deg);
}
/**************************************/
/**** * * * NUMERO DE PERSONAS * INDEX ****/
/**************************************/
.section-media-num, .media-num {    
    display: none;
}
.students, .years-experience {
    padding-right: 50px;
    color: var(--color-blanco);
}
.students h2, .years-experience h2 {
    font-size: 3rem;
}
.flex-num, .section-flex-num {
    display: block;
    display: flex;
    padding-top: 20px;
}
/**************************************/
/****** * * * * Botones * * *  * ******/
/**************************************/
.boton { 
    display: flex;
}
.section-button {
    display: flex;
}
.cta-button {
    transition: background-color 0.3s ease, transform 0.2s ease;
    background-color: var(--color-rojo);
    border: 1px solid var(--color-rojo);
    text-decoration: none;
    padding: 20px 30px;
    border-radius: 5px;
    margin: 10px 10px;
    font-size: 14px;
    cursor: pointer;
    color: white;
}
.cta-button:hover {
    background-color: var(--color-negro);
    color: var(--color-rojo);
    transform: scale(1.05);
}
main .cta-button {
    padding: 16px 15px;
    background-color: var(--color-rojo);
    color: var(--color-blanco);
    border-radius: 5px;
    border: 1px solid var(--color-rojo);
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 150px;
}
.leer_mas2 {
    color: var(--color-texto);
    transition: background-color 0.3s ease, transform 0.2s ease;
    background-color: var(--color-rojo);
    border: 1px solid var(--color-rojo);
    border-radius: 5px;
    text-decoration: none;
    padding: 5px 15px;
    margin: 15px 0;
    font-size: 10px;
    cursor: pointer;
    color: white;
}
.leer_mas2:hover {
    background-color: var(--color-negro);
    color: var(--color-rojo);
    transform: scale(1.05);
    border: 1px solid var(--transparente);
}
.btn-pc-only {
    display: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
    background-color: var(--color-rojo);
    border: 1px solid var(--color-rojo);
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    color: white;
    max-width: 110px;
}
.btn-pc-only:hover {
    background-color: var(--color-negro);
    color: var(--color-rojo);
    transform: scale(1.05);
}
.enroll-btn1 , .section-enroll-btn1 {
    display: block;
    margin-right: 50px;
}
.enroll-btn2 {
    transition: background-color 0.3s ease, transform 0.2s ease;
    color: var(--color-negro);
    text-decoration: none;
    padding: 20px 30px;
    border-radius: 5px;
    margin: 10px 10px;
    font-size: 14px;
    cursor: pointer;
}
.section-enroll-btn2:hover, .enroll-btn2:hover {
    border: 1px solid var(--color-blanco);
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--color-blanco);
    transform: scale(1.05);
}
/***** botones LEER MÁS contenido TEXTO MAS *****/
.texto_mas {
    max-height:0 ;
    overflow: hidden;
}

/**************************************/
/******** * * * * FONDO * * * * *******/
/**************************************/
.fondo {
    background-color: var(--colorFondo1);
}
.fondo_2 {
    background-color: #1d1d1d;
}
.circulo-fondo {
    background-color: var(--color-rojo);
     filter: blur(240px); 
    border-radius: 100%;
    width: 300px;
    height: 300px;
    position: relative;
    top: 0%;
    bottom: auto;
    left: 0;
    z-index: -1;
}
/**************************************/
/************* CONTENIDO **************/
/**************************************/
.titulos {
    font-weight: 400;
    font-size: 2.8rem;
    color: var(--color-blanco);
    padding: 10px 0;
    /*
    margin-bottom: 10px;
    margin-top: 10px;
    */
}
.blanco {
    color: var(--color-blanco);
    font-weight: 500;
}
.rojo {
/*    font-weight: 400; */
    color: var(--color-rojo);
}
.seccion-tipo-imgs .flex-izq {
    gap: 20px;
    align-items: center;
    display: flex;
    text-align: justify;
}
.seccion-tipo-imgs .nums {
    color: var(--color-blanco);
    letter-spacing: .2em;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    transition: .5s;
}
.seccion-tipo-imgs .caja-mar:hover .nums {
    color: var(--color-rojo);
    transition: .5s;
}
/**************************************/
/***** * * flex y cajas de dos * * ****/
/**************************************/
.caja-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.img-flex {
    flex: 1 1 310px;
}
.content-flex {
    flex: 1 1 350px; /* flex: 450px 1 1; hist kung fu */
    text-align: center;
}
/**************************************/
/***** * * caja de imagenes * * *******/
/**************************************/
.seccion-tipo-imgs {
    margin-top: 30px;
    padding-bottom: 50px;
}
.seccion-tipo-imgs .content-flex .caja-flex {
    gap: 20px;
}
.seccion-tipo-imgs .content-flex.caja-flex {
    position: relative;
    justify-content: center;
}
.imagen_hrs {
    height: 380px;
    max-width: 139px;
    flex: 1 1 130px;
    position: relative;
    object-fit: cover;
    width: 100%;
    overflow: hidden;
    object-position:center ; /* Mueve la imagen hacia la derecha */
    filter: drop-shadow(1px 2px 4px black);
    z-index: 10;
}
.img-top {
    margin-top: 80px;
}
/**************************************/
/************* desplegable ************/
/**************************************/
.icon-arrow {
    transform: scale(1.1);
    color: var(--color-rojo); 
    font-size: 1.7rem;
    /* 1.5rem */
}
.acordeon {
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease-out; 
}
.desplegable {
    cursor: pointer;
    width: 100%;
}
.seccion-tipo-imgs .caja-mar .icon-arrow {
    color: var(--color-rojo);
    transition: .5s;
}
.seccion-tipo-imgs .caja-mar {
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    display: flex;
    background-color: #2f2e2e;
    width: 100%;    
    cursor: pointer;
}
.seccion-tipo-imgs .caja-mar:hover h3,  .seccion-tipo-imgs .caja-mar:hover .icon-arrow {
    color: var(--color-blanco);
    transition: .5s;
}
.seccion-tipo-imgs .caja-mar h3 {
    font-weight: 400;
    color: var(--color-rojo);
    font-size: 2rem;
    transition: .5s;
}
.seccion-tipo-imgs p {
    color: var(--color-texto);
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5em;
}
main i {
    color: var(--color-rojo);
}
/**************************************/
/******** caja de imagenes/video ******/
/**************************************/
.video.img-flex {
    width: 100%;
    height: 370px;
    position: relative;
    flex: 1 1 400px;
}
.video-contain {
    width: 100%;
    margin: auto;
    height:350px; 
    filter: sepia(100%);
    border: none;
    border-radius: 5px; 
    box-shadow: 10px 20px 20px 0px rgba(0, 0, 0, 0.4); /* Agrega una sombra sutil */
}
/**************************************/
/******* * * Iconos * * *********/
/**************************************/
.section-header .fa {
    margin-left: 5px;
}
.fa-sort-down {
    margin-left: 5px;
}
.icono-yin-footer {
    margin-left: -90%;
    inset: 25% auto auto 5%;
    transform: rotate(95deg);
    background-image: url("../img/yingArriba.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 163px;
    height: 123px;
    position: absolute;
    z-index: 3;
    object-fit: cover;
}
.icono-yan-footer {
    margin-left: -90px; 
    inset: 80% auto auto 95%; 
    background-image: url("../img/yangParaAbajo.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 163px;
    height: 123px;
    position: absolute;
    z-index: 1;
    object-fit: cover;
}
/**************************************/
/*********** caja de iconos ***********/
/**************************************/
.icons-caja {
    justify-content: space-between;
}
.icons-caja > span {
    color: var(--color-blanco);
    margin: 5px;
    font-size: 1.5rem;
    box-shadow: 10px 20px 20px 0px rgba(0, 0, 0, 0.4); /* Agrega una sombra sutil */
}
.image-contain {
    filter: contrast(0.5);
    margin: auto;
    object-fit: contain;
    max-width: 200px;
}
/* rotación del icono */
.section-rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

/**************************************/
/******* * * * * FOOTER * * * * *******/
/**************************************/
footer {
    padding-top: 30px;
    position: relative;
    overflow: hidden;
    clear: both;

}
div.faq-tit-img-cont {
    text-align: center;
    flex: 1 1 310px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}
footer .faq-h3 {
    font-size: 2rem;
}
footer .faq-p {
    padding: 10px 0 60px;
}
footer .imagen-faq {
    width: 100%; 
    max-width: 500px; 
    position: relative;
    margin: auto;
}
footer .logo-tamo-footer {
    max-width: 300px;
    width: 100px;
}
footer .container-lets {
    padding: 0 30px;
}
footer .container-lets h2 {
    font-size: 4rem;
}
footer .caja-mar {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: flex;
}
footer .desplegable {
    background-color: #2f2e2e;
    width: 100%;
    padding: 30px 20px;
}
footer .img-flex.video {
    text-align: center;
}
footer .caja-flex .content-flex {
    height: 100%;
    flex: 1 1 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
}
footer .caja-mar h3 {
    font-weight: 500;
    color: var(--color-rojo);
    font-size: 1.2rem;
}
footer p {
    color: var(--color-texto);
    line-height: 1.5em;
    font-weight: 300;
    padding: 10px 0;
    font-size: 15px;
}
        /******* footer-logo ******/
footer .caja-flex.text_logo {
    justify-content: center;
    padding: 49px 0;
    flex-wrap: wrap;
    display: flex;
    gap: 30px;
}
footer .text_logo {
    text-align: center;
}
        /****** footer-copy ******/
.footer-caja-flex {
    border-top: 1px solid var(--color-texto);
    padding: 70px 0px;
    display: flex;
    gap: 5px;
    color: var(--color-blanco);
    flex-wrap: wrap;
    justify-content: center;
}
.foot-menu-flex {
    list-style: none;
    gap: 10px;
    display: flex;
}
.content-copy {
    text-align: center;
}
.foot-menu-flex a {
    font-size: 0.9rem;
    text-decoration: none;
    color: var(--color-blanco);
    transition: 0.4s;
}
.foot-menu-flex a:hover {
    color: var(--color-rojo);
    transition: 0.4s;
}
.circulo-fondo_foot {
    filter: blur(200px); 
    background-color: var(--color-rojo);
    position: absolute;
    border-radius:50%;
    width: 300px;
    height: 200px;
    left: 40%;  
}
        /****** footer-boton ******/

footer .cta-button {
   margin: 10px 0 0 0;
}
footer .enroll-btn1 {
    display: inline-block;
    margin-bottom: 20px;
}
/**************************************/
/******* * * REDES SOCIALES * * ******/
/**************************************/
.redes-sociales {
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 30px;               
    padding: 20px;           
}
.redes-sociales a {
    color: var(--color-texto);
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s;
}
.redes-sociales a:hover {
    color: var(--color-rojo);
    transform: scale(1.1);
}
/**************************************/
/******* * * BOTON IR ARRIBA * * ******/
/**************************************/
div.boton-arriba {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-blanco);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 5%;
    right: 2%;
}
div.boton-arriba:hover {
    background-color: var(--color-rojo);
}
div.boton-arriba i {
    font-size: 20px;
    color: var(--color-negro);
}
div.boton-arriba:hover > i {
    color: var(--color-blanco);
}
/**************************************/
/******* * * * ANIMACIÓN * * * ********/
/**************************************/
/* Esta animación solo funciona si está activo el JS */
.animado {
    align-items: center;
    opacity: 0;/* Ocultar inicialmente */ 
    transform: translateY(50px);/* Desplazar hacia abajo */
    transition: opacity 1s ease-out, transform 1s ease-out;/* Animación */
}
.animado.active {
    opacity: 1;/* Mostrar al activarse */
    transform: translateY(0); /*Volver a la posición original */
}

/************************* index.html *************************/
/**************************************************************/
/** ========== ** ** ** ** ** INDEX ** ** ** ** ============ **/
/**************************************************************/
/**************************************************************/


/************* ICONOS *****************/

/* del index*/
.icono-yin {
    object-fit: cover;
    margin-left: -90px; 
    inset: 86% auto auto 40%; 
    background-image: url("../img/yingArriba.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 122px;
    height: 92px;
    position: absolute;
    z-index: 21;
}
/* del index*/
.icono-yan {
    object-fit: cover;
    margin-left: -90px; 
    inset: -2% auto auto 80%; 
    background-image: url("../img/yangParaAbajo.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 93px;
    height: 70px;
    position: absolute;
    z-index: 21;
}
/**************************************/
/* mover un poco el icono antes de ser ordenador */

@media (min-width: 690px) {
    .icono-yan {
        inset: -2% auto auto 80%;
    }
}
.yin-sect2 {
    inset: 62% auto auto 104%;
    width: 73px;
    height: 55px;
    transform: rotate(244deg);
    z-index: -1;
}
.yan-sect2 {
    inset: -13% auto auto 7%;
    z-index: 11;
    transform: rotate(159deg);
    z-index: -1;
}

/**************************************/
/*** * * SECCION BENEFICIOS * * ******* 
 * SOBRE NOSOTROS * * INDEX ***********/
/**************************************/
#seccion-beneficios {
    padding: 0 50px 50px;
    background-color: var(--fondo1);
}
.sobre-nos {
    padding-top: 15px;
}
h2.aportan, p.aportan-concep {
    margin: 0;
    padding: 10px 0;
}
/**************************************/
/**** * SECCION SOBRE TAMO * INDEX ****/
/**************************************/
#seccion-sobreTa-mo {
    padding: 50px;
}
.caja2-flex {
    margin: 0;
    padding: 0 0 30px;
}
.cel-titulo {
    display:block;
}
.titulo-cel-sobre-t {
    color: var(--color-rojo);
    margin: 0;
    font-weight: 400;
}
.subtitulo-cel-sobre-t {
    color: var(--color-blanco);
    text-transform: capitalize;
    padding: 30px 0 40px;
    font-size: 2.8rem;
    font-weight: 400;
    margin: 0;  
    /*margin-bottom: 10px;
    margin-top: 10px;*/
}
.seccion-tipo-video {
    padding: 20px 0;
}
.seccion-tipo-video .content-flex {
    padding-bottom: 20px;
    line-height: 30px;
}
.seccion-tipo-video h2 {
    margin-bottom: 10px;
}
.seccion-tipo-video .content-flex p {
    color: var(--color-texto);
    padding: 10px 0 20px;
    line-height: 1.5em;
    font-size: 1.6rem;
    font-weight: 300;
    font-size: 18px;
    margin: 0;
} /*esta p se queda aqui*/
#home_slider img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: -10px 10px 10px black;
}
.desp {
    display: none;
}
.animo {
    color: var(--color-rojo);
    font-style: italic;
    padding: 5px 0 0;
    font-size:1.2rem;
}
#seccion-sobreTa-mo .yin-sect-tamo {
    inset: -45% auto auto 156%;
    transform: rotateX(180deg) rotateY(180deg);
}
#seccion-sobreTa-mo .yan-sect-tamo {
    inset: 70% auto auto 85%;
    z-index: 1;
}
/* SILUETAS */ 
.content-siluetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}
.content-siluetas > li {
    flex: 1 1 50px;
}
.silueta {
    max-width: 50px;
    max-height: 200px;
    opacity: .5;
    cursor: pointer;
}
.silueta:hover {
    transition: .5s;
    opacity: 1;
    filter: drop-shadow(-5px 5px 5px red);
    transform: rotate(2deg);
}
.silueta:active {
    transform: rotateY(180deg);
} 
/**************************************/
/*** SECCION2 / Maestros / Docentes ** INDEX ****/
/**************************************/
#profesores {
    position: relative;
    padding-bottom: 40px;
}
.circulo-fondo_centro{
    overflow: auto;
    background-color: var(--color-rojo);
    filter: blur(200px); 
    border-radius: 100%;
    max-width: 300px;
    max-height: 300px;
    width: 160px;
    height: 160px;
    position: absolute;
    top: 0%;
    bottom: auto;
    left: 50%;
}
.titulo-team-container {
    text-align:center;
    padding: 40px 0px;
}
.caja_flex_docentes {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    position: relative;
}
.content-docentes {
    flex: 1 1 150px; /* Los elementos de flex ahora se distribuyen con flexibilidad */
    text-align: center;
}
.content-img {
    position: relative;
    overflow: hidden;
    margin: auto;
    max-width: 200px;
    max-height: 170px;
    margin-bottom: 10px;
}
.image-cover {
    object-fit: cover; /* Ajusta la imagen a las dimensiones del contenedor */
    width: 160px;
    height: 160px;
    object-position: top;
    transition: transform 1s, opacity 1s; /* Optimizado para que ambas transiciones tengan la misma duración */
}
.content-img .image-cover:hover {
    transform: scale(1.1);
    opacity: 1; /* Se asegura que la opacidad sea 1 durante el hover */
}
.content-img:hover {
    box-shadow: 0 4px 15px rgba(150, 150, 150, 0.2);
}
.nombres {
    font-size: 1.3rem;
    padding-bottom: 10px;
    font-weight: 600;
    transition: font-size 0.5s; /* Asegura que la transición afecte solo a lo necesario */
}
.nombres.rojo:hover {
    color: var(--color-blanco);
    transition: 0.5s;
}
h3.posicion {
    color: var(--color-texto);
}
            /****    ===== TITULACIONES =====    ****/
.titulaciones h2 {
    color: var(--color-rojo);
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2.5rem;
}
.titulaciones a {
    color: var(--color-blanco);
}
.parte-superior, .parte-inferior {
    flex: 1; /* Mitad del alto cada una */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
    text-align: center;
    padding: 10px;
    color: var(--color-texto);
}
.parte-inferior {
    flex-direction: column;
    line-height: 1.5rem;
    font-size: 1.1rem;
}
.parte-inferior p:last-of-type {
    margin-top: 50px;
}
/**************************************/
/*** SECCION 3 / Beneficios * INDEX ***/
/**************************************/
#beneficios-final {
   background-color: var(--colorFondo1);
}
.flex-invertido {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 40px;
    padding: 30px;
}
.benf-tit-img {
    text-align: center;
    width: 100%;

    position: relative;
    flex: 1 1 400px;
}
.benf-tit-img h3 {
    margin-bottom: 15px;
    font-size: 1.3rem;
}
.text-benf {
    margin: 0 auto 20px;
    text-align: center;
    max-width: 90%;
}
.benf-flex-2 {
    height: 100%;
    flex: 1 1 328px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
#beneficios-final img.img-benf {
    width: 100%;
    max-width: 450px;
    position: relative;
    z-index: 11;
}
.desp-benf {
    cursor: pointer;
    width: 100%;
    background-color: var(--desplegable);
    padding: 30px 20px;
}
.caja-mar-benf {
    color: var(--color-rojo);
    transition: .5s;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
    display: flex;
    background-color: #2f2e2e;
    width: 100%;    
    cursor: pointer;
}
.caja-mar-benf:hover {
    color: var(--color-blanco);
    transition: .5s;
}
.caja-mar-benf h3 {
    font-weight: 400;
    font-size: 1.3rem;
}
.caja-mar-benf:hover .icon-arrow {
    color: var(--color-blanco);
    transition: .5s;
}
.acordeon-benf {
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease-out; 
}
ul.list-benf li {
    color: var(--color-texto);
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5em;
}

/*****************************************************************/
/******************** historia-kungfu.html ***********************/
/*****************************************************************/
/** ============ ** ** HISTORIA DEL KUNG-FU ** ** ============= **/
/* aquí también estan los maestros del diagrama de estilos.html ***
* BAK HOK PAI * SU YU CHANG * TAI CHI YANG * SIFU FERRAN **********
* RAYMOND WONG * MAESTROS VENEZOLANOS * NUESTRA ESCUELA ***********
* MIZONG LUOHAN * TAICHI MANTIS * HUNG GAR ************************
/*****************************************************************/

/************ general *************/
header.home-header.header-historia {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)), 
    url(../img/ming.jpg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    padding: 50px;
}
section.hist-kungfu:nth-child(odd) {
    background-color: #292929; /*Alternar colores de fondo*/ 
}
main.hist-kungfu {
    text-align: center;
    font-size: 18px;
    line-height: 1.5em;
}
main.hist-kungfu h2 {
/*  font-size: 36px;*/
    font-size: 2em;
    margin: 20px 0px;
    color: var(--color-blanco);
}
main.hist-kungfu h3 {
    color: var(--color-blanco);
    margin: 10px 0px;
}
iframe.hist-kungfu {
    width: 100%;
    margin: auto;
    height:350px; 
    filter: sepia(100%);
    border: none;
    border-radius: 5px; 
    box-shadow: 10px 20px 20px 0px rgba(0, 0, 0, 0.4); /* Agrega una sombra sutil */
}
/**************************************/
/*** * Sección Historia-Introducción * * 
 * hist kung fu * * * maestros ********/
/**************************************/

#historia_intro .principal-box {
    border-bottom: 1px solid #99898276;
    padding-top: 20px;
    padding-bottom: 20px;
}

#historia_intro div.contenedor_texto {
    padding: 20px;
}
#historia_intro p {
    text-align: initial;
}
.contenedor_intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
.contenedor_intro h4 {
    font-size: 15px !important;
}
.contenedor_texto p {
    margin: 30px 0;
}
ul.lista-kungfu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}
/******** ============== Modo TABLET *******/
@media (min-width: 768px) {
    .contenedor_intro {
        flex-direction: row-reverse;
    }
    .contenedor_intro iframe {
    flex: 1 1 600px;
    margin: 10px;
    }
    #historia_intro .contenedor_texto {
    padding: 0 50px;
    }
    .contenedor_texto {
    flex: 1 1 500px;
    }
}
/**************************************/
/*** * Sección Historia-Origen * * * *
 * hist kung fu * maestros ************/
/**************************************/
#historia_origen .principal-box {
    border-bottom: 1px solid #99898276;
    padding-top: 20px;
    padding-bottom: 20px;
}
#historia_origen .texto_mas {
    display: flex;
    justify-content:center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 50px;
}
#historia_origen .texto_mas figure {
    flex: 0 1 450px;
    margin-bottom: 10px;
    margin-top: 50px;
    border-radius: 5px; 
    display: inline-block;
    overflow: hidden;
}
#historia_origen .texto_mas img {
    width: 100%;
    max-width: 500px;
    display: block;
}
.img-bak {
    margin-bottom: 15px;
}
#historia_origen .texto_mas p {
    padding: 0 20px;
}
#historia_origen .contenedor_origen .contenedor_texto {
    padding: 0 20px;
}
.contenedor_origen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
.contenedor_origen h4 {
    font-size: 15px !important;
}
.contenedor_origen figure {
    flex: 1 1 250px;
    margin: 10px;
}
.contenedor_origen figure img {
    width: 100%;
    max-width: 500px;
    filter: sepia(50%);
    border: none;
    border-radius: 5px; 
}
.imgs-ferran {
    display: flex;
}
/******** ============== Modo TABLET *******/
@media (min-width: 768px) {
    #historia_origen .contenedor_origen .contenedor_texto {
        flex: 1 1 600px;
        padding: 0 50px;
    }
    #historia_origen .contenedor_origen figure {
        flex: 1 1 400px;
    }
    #historia_origen .texto_mas figure {
        flex-basis: 500px;
    }
    #historia_origen .texto_mas p {
        flex: 1 1 700px;
        padding: 0 50px;
    }
}
/**************************************/
/*** * Sección Historia-Evolución * * *
 * ******** Línea de tiempo ******* * *
 * hist kung fu * * * *****************/
/**************************************/
#historia_evolucion {
    padding: 20px
}
#historia_evolucion h4 {
    font-size: 15px !important;
}
#historia_evolucion .texto_mas.texto_flex {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#historia_evolucion .texto_mas.texto_flex figure {
    flex-basis: 400px;
}
#historia_evolucion .texto_mas.texto_flex img {
    width: 100%;
}
#historia_evolucion .texto_mas div.mas_flex {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#historia_evolucion .texto_mas div.mas_flex p {
    margin: 20px 0;
}
.linea {
    display: none; /* ocultar la línea dashed */
}
.contenedor_escuela {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.contenido_escuela {
    padding: 20px;
    margin: 10px;
}
.contenedor_img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.contenedor_img figure {
    flex: 1 1 250px;
    padding: 10px;
    max-width: 400px;
    overflow: hidden;
    width: 250px;
    height: 167px;
}
.contenedor_img figure img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contenedor_indicador {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
}
.contenido_indicador {
    color: var(--color-rojo);
    padding: 20px 0 0;
    flex: 1 1 300px;
}
.contenido_indicador h3 {
    margin: 16px 0 0;
    color: var(--color-rojo);
}
.contenido_indicador p {
    color: var(--color-gris);
    margin: 8px 0 0;
}
.circulo-fuera {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border:10px solid #BC0A0A66;
    margin: auto;
    box-sizing: border-box;
}
.circulo-dentro {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--color-rojo);
    margin: auto;
    box-sizing: border-box;
}
/******** ============== Modo TABLET *******/
@media (min-width: 768px){
    .contenedor_img figure {
        flex: 1 1 350px;
    }
    .contenedor_img figure img {
        width: 100%;
    }
    .contenedor_indicador {
        flex-wrap: nowrap;
    }
    .caja_indicador {
        position: relative;
    }
    .linea {
        display: block; /* aparecer la línea dashed */
        border-bottom: 1px dashed var(--color-rojo);
        position: absolute;
        top: 22%;
        right: 14%;
        left: 14%;
    }    
}
/**************************************************************/
/******************* estilos-kungfu.html **********************/
/**************************************************************/
/** =========== ** ** ESTILOS DE KUNG-FU ** ** ============= **/
/**************************************************************/

/****** Todo excepto el diagrama ******/
header.home-header.header-estilos {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)), 
    url(../img/estilos-kungfu.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 80px;
}
h2.header-h2-etlKF {
    padding-top: 80px;
    padding-bottom: 100px;
    text-align: center;
}
main.main-etlKF h2 {
    color: var(--color-blanco);
    margin: 15px 0 20px 0;
}
.main-etlKF h3 {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 400;
}
main.main-etlKF h3, main.main-etlKF h4 {
    color: var(--color-rojo);
    margin: 15px 0 10px 0;
}
main.main-etlKF p {
    color: var(--color-texto);
}
#video-etlKF, 
#tang-lang-quan, 
#mizong-luohan-quan, 
#bak-hok-pai, 
#hung-gar, 
#taijiquan {
    padding: 20px;
}
#video-etlKF {
    padding: 30px 10px;
    background-color: var(--colorFondo1);
}
.video2-etlKF {
    display: flex;
    justify-content: center;
}
.contenedor_flex-etlKF {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.texto-etlKF {
    flex: 1 1 300px;
}
.texto_span-etlKF {
    color: var(--color-rojo);
}
.imagen-etlKF {
    flex: 1 1 200px;
    margin: 15px 15px 20px;
}
.imagen-2-etlKF {
    padding-left: 20px;
    margin: 15px 15px 0;
}
.texto-2-etlKF {
    flex: 1 1 200px;
    margin: 30px 50px;
}
/* ============= TABLET === */
@media (min-width: 768px){
    .texto-etlKF {
        margin: 15px 15px 20px 15px;
    }
}
/*************************************************************/
/******************* escuela-kungfu.html *********************/
/*************************************************************/
/** =========== ** ** ESCUELA DE KUNG-FU ** ** ============ **/
/*************************************************************/

/************ header / general *********/
.caja-position-escue-kungfu{
    display: flex;
    justify-content: right;
    align-items: center;
}
.caja-titulo-header-escue-kungfu {
    width: 550px;
    height: 300px;
    padding: 0 20px;
}
.caja-titulo-header-escue-kungfu p {
    color: var(--color-texto);
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5em;
}
h2.header-h2-escue-kungfu {
    color: var(--color-blanco);
    text-align: left;
    font-size: 2rem;
    margin-top: 0px;
    padding: 40px 0;
}
.segunda-linea-main-title2 {
    display: block;
    font-size: 3rem;
    color: var(--color-rojo);
    text-align: left; 
}
main.main-escuela-kungfu section p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5em;
}
.contenedor_flex-escue-kungfu {
    display: flex;
    flex-wrap: wrap;
}

/*** * * escuela-kungfu.html * ******
 * ******** seccion salud ***** * * *
 * escue kung fu * * * **************/
/************************************/

/****** Generales ******/
header.home-header.header-escuela {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ), url(../img/emblema-mantis.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px;
}

#escuela-kungfu {
    padding: 20px 0 40px 0;
}
.seccion-salud-escue-kungfu {
    padding: 40px 0 60px;
}
#escuela-kungfu div.content-flex.caja-flex {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 30px;
}
.imagen_hrs-escue-kungfu {
    position: relative;
    object-fit: cover;
    overflow: hidden;
    flex: 1 1 240px;
    height: 470px;
    z-index: 10;
    width: 100%;
    flex: 1; 
}
#escuela-kungfu .img-top {
    margin-top: 80px;
}
#escuela-kungfu .content-flex-text {
    flex: 1 1 350px;
}
.icono-yan-secc-salud {
    background-image: url("../img/yangParaAbajo.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    inset: 5% auto auto 35%;
    background-size: cover;
    margin-left: -90px;
    position: absolute;
    width: 113px;
    height: 85px;
    z-index: 9;
}
.icono-yin-secc-salud {
    background-image: url("../img/yingArriba.png");
    background-repeat: no-repeat;
    inset: 90% auto auto 75%;
    background-position: 0 0;
    background-size: cover;
    position: absolute;
    margin-left: -90px;
    width: 122px; /* 122*//*163*/
    height: 92px; /* 92 *//* 123 */
    z-index: 1;
}
/******** ============== Modo TABLET *******/
@media (min-width: 760px){
    .icono-yin-secc-salud {
        inset: 72% auto auto 75%;
    }
}
.seccion-salud .content-flex .caja-flex {
    gap: 20px;
}
.seccion-salud p {
    color: var(--color-texto);
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5em;
}
.seccion-salud .flex-izq {
    gap: 20px;
    align-items: center;
    display: flex;
}

/*** * Sección grandes bloques * * *
*** escuela kung fu * * * *************/
/**************************************/
#grandes-bloques-escue-kungfu {
    padding: 50px 0;
}
#grandes-bloques-escue-kungfu h3.h3-tit-grandes-bloq {
    color: var(--color-rojo);
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 1.3rem;
    text-align: center;
    font-weight: 400;
}
#grandes-bloques-escue-kungfu h2 {
    text-align: center;
}
#grandes-bloques-escue-kungfu img {
    max-width: 1061px;
    width: 100%;
    display: block;
    margin: auto;
    margin-bottom: 30px;
}
.texto-escue-kungfu {
    flex: 1 1 400px;
    margin:15px 5px;
}
.texto-escue-kungfu h3 {
    color: var(--color-blanco);
    text-align: left !important;
    font-size: 1.5rem !important;
    font-weight: 500 !important;
    margin-bottom: 15px;
}

/*** * Sección VIDEO * ***
 * escue kung fu * * * ***/
/*************************/
#video-escue-kungfu {
    padding: 50px 0;
    text-align: center;
}
#video-escue-kungfu iframe {
    max-width: 1061px;
    width: 100%;
    margin: auto;
}
/******** ============== Modo TABLET *******/
@media (min-width: 768px){
    .texto-escue-kungfu {
        margin:15px;
        flex: 1 1 400px;
    }
    #video-escue-kungfu iframe {
        height: 500px;
    }
}

/**************************************************************/
/************************* taichi.html ************************/
/**************************************************************/
/** =================== ** ** TAI CHI ** ** ================ **/
/**************************************************************/

header.home-header.header-taichi {
    background-image:linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ), url(../img/pose77.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 100px;
}
header.home-header.header-taichi h2 {
    font-size: 5rem;
}
main.main-taichi .fondo_2 {
    position: relative;
    padding-bottom: 30px;
}
/****** TAICHI INTRO ******/

#taichi-intro h2 {
    font-weight: 400;
    color: var(--color-blanco);
    margin: 30px 0 60px 0;
    font-size: 2rem;
}
#taichi-intro p {
    margin-bottom: 20px;
    font-size: 1.13rem;
}
#taichi-intro .rojo {
    font-weight: 400;
    color: var(--color-rojo);
}
.iconos-taichi {
    display: flex;
    justify-content: center;
    margin: auto;
}
.imagen_hrs-tai {
    height: 380px;
    max-width: 240px;
    flex: 1 1 130px;
    position: relative;
    object-fit: cover;
    width: 100%;
    overflow: hidden;
    object-position: left; /* Mueve la imagen hacia la derecha */
    filter: drop-shadow(1px 2px 4px black);
    z-index: 10;
}
.centro-taichi {
    padding: 20px 0 0;
}
.enroll-btn2.btn2-taichi {
    height: 100%;
    background-color: var(--color-rojo);
    color: var(--color-blanco);
    /*flex: 1 1 228px;*/
    flex: 1 1 270px;
    margin: auto;
    max-width: none;
}
#seccion-clases-taichi h3 {
    font-weight: 500;
    font-size:1.6rem;
    margin-bottom: 20px;
}
#seccion-clases-taichi p {
    margin-bottom: 20px;
    color: var(--color-texto);
}
.desplegable.despleglable-taichi {
    margin-top: 14px;
}
.img-float-taichi {
    float: right;
}
/***** taichi horarios ******/
.centro-taichi {
    margin:auto;
    align-items: center;
    text-align: center;
}
.horari-taichi {
    justify-content: center;
}
.caja-flex.programs {
    flex: 1 1 328px;
    text-align: left;
    align-items: center;
    justify-content: space-between;
}
.circulo-fondo_centro {
    overflow: auto;
    background-color: var(--color-rojo);
    filter: blur(200px); 
    border-radius: 100%;
    max-width: 300px;
    max-height: 300px;
    width: 160px;
    height: 160px;
    position: absolute;
    top: 0%;
    bottom: auto;
    left: 50%;
}
.caja-flex.fecha {
    gap: 10px;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}
#seccion-clases .caja-flex.fecha p {
    font-size: 0.9rem;
}
/***** TAICHI SLIDER - CARRUSEL *****/

#seccionSliderTaichi {
    padding: 20px;
}
#sliderTaichi-container {
    position: relative;
    overflow: hidden;  
    width: 100%;
    max-width: 600px;
    margin: auto;
}
.slider {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.3s ease-in;
}
ul.slider-nucleo {
    display: flex;
}
.slider-nucleo li {
    flex: 0 0 100%;
    text-align: center;
}
/*verificar*/
.slider-nucleo img {
    aspect-ratio: 16 / 9;
    object-fit: contain; /*cambio object-fit: "cover" a "contain" para las imagenes verticales*/
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;        
}
.btn-taichi {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);    
    background-color: rgba(50, 50, 50, 0.4);
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    font-size: 24px;
    z-index: 1;
    transition: 0.3s;
    color: white;
}
.btn-taichi:hover{
    padding: 15px;
    transition: 0.3s;
}
.btn-taichi.sldr-next {
    right: 10px;
}
.btn-taichi.sldr-before {
    left: 10px;
}

div.listaa ul.liang li {
    list-style: disc !important;
}
.img-flex img {
    max-width: 150px;
}
.img-flex {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    margin: auto;
}
.img-block {
    display: block;
}





/**************************************************************/
/*************** defensa-personal.html ************************/
/**************************************************************/
/** ============ ** ** DEFENSA PERSONAL ** ** ============== **/
/**************************************************************/

/******* Esta página Defensa Personal tiene 4 secciones:
****** #defensa_intro, #defensa_tec, #defensa_femenina, 
****** #defensa_video(sólo hay un vídeo) ************* */
/*******************************************************/

/******* HEADER *******/
header.home-header.header-defensaP {
    background-image: linear-gradient(#0006, #0006),
        url(../img/defensaPersonal.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    padding-bottom: 50px;
    font-size: 3rem;
}
/******* GENERAL *******/

main.main-defensaPer {
    line-height: 1.5rem;
}
main.main-defensaPer h2 {
    color: var(--color-blanco);
    margin: 15px 0 20px 0;
}
.main-defensaPer h3 {
    color: var(--color-rojo);
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 400;
}
.main-defensaPer h4 {
    color: var(--color-rojo);
}
#defensa_intro {
    background-color: #292929;
}
#defensa_intro p, 
#defensa_tec p, 
#defensa_femenina p {
    margin: 20px 0px;
}
.contenedor_flex-defensaP {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.contenedor_flex-defensaP .texto-defensaP {
    flex: 1 1 400px;
    padding: 20px;
}
.contenedor_flex-defensaP figure {
    flex: 1 1 400px;
    margin: 20px auto;
    padding: 20px;
}
.contenedor_flex-defensaP img {
    width: 100%;
    max-width: 800px;
}
#defensa_intro .contenedor_flex-defensaP .texto-defensaP {
    flex: 1 1 400px;
}

/* ***************  Modo Tablet ********** */
@media (min-width768px) {
    .texto-defensaP {
        margin: 15px 15px 20px 15px;
        padding: 0 20px;
    }
}
/*  ******** Flex con wrap-reverse ******* */
.contenedor_flex-defensaP.wrapReves-defensaP {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: flex-end;
}

/*  ********* Sección Defensa-femenina ******* */
/* 
Esta sección tiene 4 partes: 
div#defensa_esp, 
div#defensa_programa(con div#defensa_horario), 
div#defensa_aprendizaje, 
div#defensa_ventaja 
*/

#defensa_femenina {
    padding: 20px;
}
#defensa_femenina h2, #defensa_femenina h3 {
    margin-left: 20px;
}

div#defensa_esp h3, 
div#defensa_programa h3, 
div#defensa_aprendizaje h3, 
div#defensa_ventaja h3 {
    font-weight: 700;
    font-size: 20px;
    margin: 20px 0;
}
.btn_leer_mas-defP {
    color: var(--color-texto);
    transition: background-color 0.3s ease, transform 0.2s ease;
    background-color: var(--color-rojo);
    border: 1px solid var(--color-rojo);
    border-radius: 5px;
    text-decoration: none;
    padding: 5px 15px;
    margin: 15px 0;
    font-size: 10px;
    cursor: pointer;
    color: white;
}
.suspensivos,
.inyect-susp {
  display: inline;
}
.inyect-susp,
.texto_mas-defP {
  display: none; /* oculto por defecto */
}
/*********** para el efecto img hover ********  */
#defensa_femenina figure {
    overflow: hidden;
    width: 400px;
    padding: 0;
    margin: 20px;
}
#defensa_femenina img {
    width: 100%;
    max-width: 800px;
    transition: all 0.5s;
}
#defensa_femenina img:hover {
    transform: scale(1.1);
}
/*****Para separarse entre si cada parte****/
.lineaBottom-defensaP {
    border-bottom: 1px solid #fff3;
    background-color: #39393996;
    padding: 30px 0;
    margin-bottom: 20px;
    border-radius: 5px;
}
/******Para la parte: defensa_horario*******/
div#defensa_horario .promocion-defensaP {
    margin-top: 20px;
    border: 1px dashed var(--color-rojo) ;
    width: 100%;
    padding: 20px;
    background-color: #E6394619;
}
div#defensa_horario span {
    font-weight: 700;
    color: var(--color-blanco);
}
div#defensa_horario a {
    display: block;
    text-decoration: none;
    color: var(--color-blanco);
    padding-top: 20px;
}
div#defensa_horario a:hover {
    color: var(--color-rojo-hover);
}
div#defensa_horario.fa-arrow-right {
    font-size: 20px;
    color: var(--color-rojo);
    margin-left: 10px;
}
div#defensa_horario a:hover .fa-arrow-right {
    color: var(--color-blanco);
}
.horarios-defensaP {
    display: flex;
    margin: 10px 0;
}
.horario-defensaP {
    display: flex;
    flex: 0 1 100px;
}
.horario-defensaP img {
    width: 32px !important;
    margin: 10px;
    flex: 1 1 32px;
}
.horario-defensaP .horario_texto-defensaP {
    width: 60px;
    flex: 1 1 60px;
    color: var(--color-blanco);
    display: flex;
    align-items: center;
}
/* ============== TABLET y ordenador */
@media (min-width: 480px) {
    .horario-defensaP .horario_texto-defensaP {
        width: 100px;
        flex: 1 1 100px;
    }
    .horario-defensaP {
        display: flex;
        flex: initial;
    }
    div#defensa_horario .promocion-defensaP {
        width: 320px;
    }
}
/***** Sección Defensa-video *****/
#defensa_video {
/*  text-align: center;*/
    padding: 20px;
}
#defensa_video h2 {
    margin-left: 20px;
}
#defensa_video h3 {
    margin-top: 20px;
    margin-left: 20px;
}
#defensa_video iframe {
    display: block;
    margin: 50px auto;
    width: 70%;
    height: 350px;
    filter: sepia(100%);
    border: none;
    border-radius: 5px; 
    box-shadow: 10px 20px 20px 0px rgba(0, 0, 0, 0.4);
}





















/*********************** contacto.html ************************/
/**************************************************************/
/** ============ ** ** ** CONTACTO ** ** ** ============== **/
/**************************************************************/
/**************************************************************/
.fondo-total {
    background-image: linear-gradient(#000c, #000c),url(../img/fondoContacto.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 15px 150px;
}
h2.titulo-contact {
    color: var(--color-blanco);
    font-size: 5rem;
    text-align: center;
    padding: 50px 0;
    margin: 30px auto;
}
#seccion-contacto {
    display: flex
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start
    padding: 30px 30px 50px;
    color: var(--color-texto);
}
.tarjetas-container-contact {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start; /* en vez de stretch */
}
.tarjeta-contacto {
    background-color: var(--colorFondo1);
    padding: 20px;
    border-radius: 5px;
    height: 350px;
    max-width: 420px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    color: var(--color-texto);
    flex: 1 1 350px;
}
.icono-titulo-contact {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 30px;
    color: var(--color-rojo);
}
.icono-contact {
    font-size: 1.5rem;
    color: var(--color-texto);
}
.p-contact {
    margin-top: 10px;
    margin-bottom: 50px;
}
ul.info-contacto-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    padding: 0;
}
.info-contacto-list a {
    color: var(--color-texto);
}
.info-contacto-list a:hover {
    color: var(--color-rojo);
}
.info-contacto-list li {
    margin: 0.5rem 0;
    font-size: 0.95rem;
    color: var(--color-rojo);
}
.info-contacto-list i {
    color: var(--color-blanco);
    margin-right: 0.5rem;
}
.mapa-container-contact iframe {
    width: 100%;
    height: 240px;
    border: none;
    border-radius: 8px;
    margin-bottom: 15px;
}
.horario-concept {
    line-height: 1.6rem;
}
#btn-horario {
    margin-top: 80px;
    display: block
}
/***** div de horario emergente ****/
#myModal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);

}
.contenido-horario {
    background-color: var(--color-texto);
    color: var(--color-negro);
    border: 1px solid var(--color-blanco);
    border-radius: 5px;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    transition: max-height 0.5s ease, padding 0.3s ease;
}
.modal:target {
    display: block;
}
.horario {
    margin-bottom: 10px;
}
.horario:first-of-type {
    margin-top: 5px;
}
p.gratis {
    padding: 5px;
    text-align: center;
    margin-bottom: 25px;
}
.rojo-gratis {
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--color-rojo);
}
#btn-cerrar-hor {
    display: block;
    padding: 10px 20px;
    margin: auto;
    text-decoration: none;
    border-radius: 5px;
}
.asist-opc {
    margin-top: 5px;
}
@media (max-width: 1000px) {
    #seccion-contacto {
        flex-direction: column;
        align-items: center;
    }
}
/********************************/
/* ============== formulario == */
/********************************/
#contacto-form.form {
    background-image: url(../img/fondoForm.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: var(--color-blanco);
}
.flex-form {
    display: flex;
    justify-content: center;
}
.contenedor-form {
    padding: 80px 0;
    width: 50%;
}
div.foto-form {
    display: none;
    width: 50%;
}
.form h2 {
    margin: 10px 0;
}
.form p {
    margin: 25px 0 10px;
}
div.inputs {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
div.inputs,
.titulo-form {
    width: 90%;
    max-width: 400px;
    margin: auto;
    padding: 20px;
}
.input-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.input-name,
.input-email {
    width: 50%;
}
.input-message {
    width: 100%;
}
.input-name,
.input-email,
.input-message {
    padding: 15px;
    font-size: 14px;
    border: 0.5px solid white;
    border-radius: 5px;
    background-color: var(--backInputs);
    color: var(--color-blanco);
    outline: none;
    overflow: auto;
    resize: vertical;
}

textarea::placeholder {
    font-family: Roboto, sans-serif;
}
.submit-btn {
    padding: 10px 16px;
    font-size: 15px;
    margin: 20px auto 0;
}
















/***************************************/
.galeria {
    margin-top: 20px;
    padding-top: 20px;
}
/***************************************/

/*.titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 100px;
}*/








