/*** Excepciones ***/
/*********************************/

/* imagenes taichi aplicaciones */
@media (min-width: 768px) {
    .taichiGrid-container {
        row-gap: 20px;
        width: 600px;
        margin: initial;
    }
    .imgGridTai {
        width: 100%;
        max-width: 400px;
        margin: 0;
        padding: 0;
    }
}

/* esuela-kung-fu secc salud *****/
@media (min-width: 980px) {
    .icono-yin-secc-salud {
        inset: 90% auto auto 75%;
    }
}
/*********************************/
/*********************************/
/*********************************/

@media (min-width: 996px) {
/*****************************************/
/* * * * *   GENERALES e INDEX   * * * * */
/*****************************************/
    h1.title a {
        font-size: 3rem;
    }
    .caja-titulo h2.header-h2 {
        font-size: 3rem;
        font-weight: 400;
        padding-right: 300px;
    }
    h2 > span.color-secon {
        font-weight: 700;
        font-size: 6rem;
    }
    #header_img_mobile {
        display: none;
    }
    #header_img_pc {
        display: block;
    }
    .header_img {
        top: 40px;
        right: -100%;
        max-width: 1000px;
        animation: header_img_animation_computer;
        animation-delay: 0.5s; 
        animation-duration: 2s; 
        animation-fill-mode: forwards;
    }
    @keyframes header_img_animation_computer { 
        0% { opacity: 0; right: -100%; } 
        100% { opacity: 1; right: 0; } 
    }
    /********* ADAPTACION DE HEADERS POR PAGINAS *******/
        /***** header historia *****/
    header.home-header.header-historia, 
    header.home-header.header-estilos,
    header.home-header.header-escuela,
    header.home-header.header-taichi,
    header.home-header.header-defensaP,
    header.home-header.header-contact,
    header.home-header.header-raymond,
    header.home-header.header-maesVen,
    header.home-header.header-nuestra,
    header.home-header.header-mizong,
    header.home-header.header-mantis,
    header.home-header.header-hung,
    header.home-header.header-bak,
    header.home-header.header-chang,
    header.home-header.header-yang {
        height: 70vh;
    }
    .main-title.header-h2-ray,
    .main-title.header-h2-maesVen,
    .main-title.header-h2-nuestra,
    .main-title.header-h2-mizong,
    .main-title.header-h2-mantis,
    .main-title.header-h2-hung,
    .main-title.header-h2-bak,
    .main-title.header-h2-chang,
    .main-title.header-h2-yang {
        padding: 300px 0 0 !important;
    }
    .caja-titulo p {
        font-size: 1.4rem;
        max-width: 560px;
    }
    .cel-titulo {
        display:none;
    }
    .section-main-title, .main-title {
        font-size: 3rem;
        padding: 80px 0;
    }
    #seccion-beneficios {
        margin-top: 20px;
    }
/*** ===== Contenedor principal ===    */
    .principal-box {
        padding: 20px;
    }
/*** ===== MENU PARA PC ===    */
    .menu-container {
        display: none;
    }
    div#header-top-container {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
        background-color: var(--transparente); /* para que se vea la imagen de fondo */
        margin-bottom: 30px;
        height: auto;
    }
    a.btn-pc-only {
        display: inline-block;
        white-space: nowrap;
    }
    div#nav-container-pc {
        display: block;
        height: 100%;
    }
    ul.list-menu-pc {
        display: flex;
        justify-content: space-between;
    }
    nav.main-menu-pc li {
        width: fit-content;
    }
    li.li-despliegue {
        position: relative;
    }
    nav.main-menu-pc a {
        color: #fff;
        display: inline-block;
        text-align: center;
        align-content: center;
        padding: 8px;
        width: auto;
        height: auto;
        font-size: 1rem;
        border-left: 2px solid var(--transparente);
    }
    a.submenu-item-pc {
        width: initial;
        display: flex; /* para alinear texto e icono en línea */
        align-items: center; /* centra verticalmente el texto y la flecha */
        gap: 5px;/* separación entre texto y flecha */
        color: #fff;
        text-decoration: none;
    }
    a.submenu-item-pc .down {
        text-align: start;
        color: var(--color-blanco);
        font-size: 1.3rem;
    }
    nav.main-menu-pc a:hover {
        color: var(--color-rojo);
        border-left: 2px solid var(--color-rojo);
    }
        /* para el despliegue del submenu */
    ul.list-menu-pc > li {
        position: relative;
    }
    ul.despliegue-secundario {
        position: absolute;
        top: 100%;
        left: 0;
        opacity: 0;
        visibility: hidden;
        background-color: var(--colorFondo1);
        transition: opacity 0.3s ease, transform 0.3s, visibility 0.3s;
        box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2);
        z-index: 10;
        padding: 10px;
    }
    li.li-despliegue:hover > ul.despliegue-secundario {
        opacity: 1;
        visibility: visible;
    }
    ul.despliegue-secundario > li {
        position: relative;
    }
    ul.despliegue-secundario li a {
        position: relative;
        display: block;
        width: auto;
        height: auto;
        /*left: 13px;*/
        transition: transform 0.3s ease, color 0.3s ease;
    }
    ul.list-menu-pc > li > a {
        display: flex;           /* para poder alinear texto + icono verticalmente */
        align-items: center;     /* centra el icono con el texto */
        gap: 5px;                /* espacio entre texto e ícono */
        padding: 10px 15px;      /* altura uniforme */
        width: auto;
        height: auto;
    }

/*** ===== Numero de personas ===    */
    .section-media-num, .media-num {
        display: block;
        display: flex;
    }
    .flex-num {
        display: none;
    }
/*** ===== Iconos yan-yin en pc ===    */    
    .students h2, .years-experience h2 {
        font-size: 4rem;
    }
    .icono-yin {
        inset: -27% auto auto 90%;
        width: 130px;
        height: 100px;
    }
    .icono-yan {
        inset: 83% auto auto 10%;
        width: 133px;
        height: 100px;
    }
    .icono-yin.yin-sect-tamo, #seccion-sobreTa-mo .yan-sect-tamo {
        display: none;
    }
    .caja-titulo {
        padding-right: 300px;
    }
    .video_home-container {
        height: 450px;
    }
    .desp {
        display: block;
    }
    .animo1 {
        display: none;
    }
    div.animo-flex {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .animo2 {
        color: var(--color-rojo);
        font-style: italic;
        font-size: .8rem;
        margin: 0;
    }
    .animo2:first-of-type {
        text-align: left;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .animo2:last-of-type {
        text-align: left;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
/***** SILUETAS *****/  
    .content-siluetas > li {
        flex: 1 1 100px;
    }
    .silueta {
        max-width: initial;
        max-height: 150px;
    }
/*** ===== TITULACIONES ===     */
    .titulaciones-flex {
        display: flex;
        justify-content: space-between;
        gap: 50px;
    }
    .titulaciones-flex ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
/*** ===== FOOTER ===       */ 
    footer .img-flex.video {
        text-align: initial;

    }
    .footer-caja-flex {
        justify-content: space-between;
    }
    .content-copy {
        text-align: initial;
    }
    .content-flex {
        text-align: initial;
    }
    .flex-invertido {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
    div.benf-flex-2 {
        gap: 60px;
    }
    .text-benf {
        max-width: 80%;
    }
    .text-benf:last-of-type {
        margin-bottom: 0;
    }
/*****************************************/
/* ============ historia-kungfu.html === */
/*****************************************/
/****** seccion historia introducción  ***/
    .main-title.header-h2-hist-kungfu {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .contenedor_intro {
        flex-wrap: nowrap;
        text-align: initial;
        align-items: flex-start;
    }
    .contenedor_intro h2, .contenedor_intro h4 {
        text-align: initial;
    }
    .historia_intro .contenedor_texto {
        flex: 1 1 400px;
        margin-left: 20px;
        padding: 0;
    }
    .contenedor_intro iframe {
        flex: 1 1 400px;
    }
    .historia_intro p {
        text-align: initial;
    }
/****** seccion historia origen  ***/
    .contenedor_origen {
        align-items: flex-start;
    }
    .historia_origen .contenedor_origen .contenedor_texto {
        flex: 1 1 500px;
        text-align: initial;
        padding: 0;
        padding-left:10px;
    }
    .historia_origen .contenedor_origen figure{
        max-width: 450px;
    }
    .historia_origen .texto_mas {
        margin-top: 20px;
    }
    .historia_origen p {
        text-align: initial;
    }
    .historia_origen .texto_mas figure {
        margin-top: 0;
        flex-basis: 400px;
        margin-left: 10px;
        margin-bottom: 0;
    }
    .historia_origen .texto_mas p {
        flex-basis: 500px;
        padding: 0px;
    }
/****** seccion historia evolucion  ***/
    .historia_evolucion .texto_mas.texto_flex {
        flex-wrap: nowrap;
    }
    .historia_evolucion .texto_mas.texto_flex p {
        flex-basis: 500px;
        text-align: left;
        margin-right: 20px;
    }
    .historia_evolucion .texto_mas p {
        text-align: left;
    }
    .mas_flex.linea-tiempo-concept {
        align-items: baseline;
    }
    .linea-tiempo-concept div.mccclxviii,
    .linea-tiempo-concept div.mdcxliv,
    .linea-tiempo-concept div.mcmlvi,
    .linea-tiempo-concept div.mcmlx {
        flex-wrap: nowrap;
        flex: 1 1 250px;
    }
    .contenedor_img {
        flex-wrap: nowrap;
    }
    .linea-kungfu {
        display: block; /* aparecer la línea dashed */
        border-bottom: 1px dashed var(--color-rojo);
        position: absolute;
        top: 22%;
        right: 14%;
        left: 14%;
    }
    .flex-part1-2 {
        justify-content: center;
        align-items: center;
    }
    .part1-flex {
        flex: 1 1 60%;
    } 
    .part2-flex {
        flex: 1 1 40%;
    }
/************ MAESTROS ***************/
    .flex-part1-2-inner {
        display: flex;
        align-items: center;
        justify-self: center;
        gap: 15px;
    }
    .flex-part1-2-inner-reverse {
        flex-direction: row-reverse;
        flex-wrap: nowrap;
    }
    .texto-part1 {
        flex: 1 1 40%;
    }
    .texto-part2 {
        flex: 1 1 60%;
    }
    .flex-textomas {
        display: flex;
        gap: 10px;
        justify-content: center;
    }
    .flex-textomas-reverse {
        display: flex;
        gap: 10px;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }
    .flex-textomas-reverse .texto-part1-mas {
        flex: 1 1 30%;
    }
    .flex-textomas-reverse .texto-part2-mas {
        flex: 1 1 70%;
    }
    .flex-fig1-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        max-width: 600px;
    }
    .fig-1 img, .fig-2 img {
        height: auto;
    }
    .fig-linaje-2,
    .fig-linaje-3 {
        display: flex;
        gap: 30px;
        align-items: center;
    }
    .fig-linaje-2 {
        padding-top: 15px;
    }
    .fig-linaje-3 {
        flex-direction: row-reverse;
        padding-bottom: 15px;
    }
    .fig-linaje-2 img {
        max-width: 300px;
        flex: 1 1 60%;
    }
    .fig-linaje-3 img {
        max-width: 400px;
        flex: 1 1 60%;
    }
    .fig-linaje-2 figcaption,
    .fig-linaje-3 figcaption {
        flex: 1 1 40%;
    }
    .flex-part1-2-pc {
        display: flex;
        gap: 40px;
        justify-content: center;
        align-items: center;
    }
    .texto-part1-revis {
        flex: 1 1 60%;
    }
    .texto-part2-revis {
        flex: 1 1 40%;
    }
    .fig-homenaje {
        padding-top: 12px;
    }
    .fig-espadas {
        display: flex;
        justify-content: center;
    }
    .fig-espadas img {
        max-width: 300px;
    }
    .tresImagenes-flex {
        max-width: initial !important;
    }
    .ajustar_3 {
        text-align: center;
    }
    .ajustar_4 {
        max-width: initial !important;
        max-height: 430px !important;
    }
    .ajustar_contenedor2 {
        max-width: 500px !important;
    }
/*****************************************/
/* ============ estilos-kungfu.html === */
/*****************************************/

/****** Generales y botones *****/ 
    .texto {
        margin: 35px 50px;
    }
/********** Diagrama **********/
    @media (min-width: 1024px) {
        .content_box {
            max-width: 1200px;
        }
    }
/*****************************************/
/* ============ escuela-kungfu.html === */
/*****************************************/

/****** seccion escuela-kungfu / seccion salud ***/
    .caja-position-escue-kungfu {
        position: relative;
        align-items: flex-end;
    }
    .caja-titulo-header-escue-kungfu {
        width: 450px;
        height: 300px;
    }
    h2.main-title {
        font-size: 3rem;
    }
    h2.header-h2-escue-kungfu {
        padding: 0 0 20px;
    }
    .texto-escue-kungfu {
        margin:15px;
    }
    .icono-yan-secc-salud {
        inset: 1% auto auto 35%;
        width: 163px;
        height: 123px;
    }
    .icono-yin-secc-salud {
        inset: 91% auto auto 75%;
        width: 163px;
        height: 123px;
    }
/**********************************************/
/** ============== taichi.html ============= **/
/**********************************************/
    .centro-tai {
        margin: initial;
        align-items: center;
        text-align: left;
    }
    .enroll-btn2.btn2-taichi {
        max-width: 400px;
        margin: initial;
    }
    .image-contain {
        max-width: 200px;
    }
    .flex-taichi-chi {
        display: flex;
        flex-direction: row-reverse;
        gap: 30px;
    }
    .container-chikung-img {
        width: initial;
        flex: 1 1 30%;
    }
    .texto-tai-chikung {
        flex: 1 1 70%;
    }
    .img-primer {
        margin-bottom: 20px;
    }
    .img-segundo {
        flex-direction: column;
        justify-content: center;
        margin: auto;
        text-align: center;
        align-items: center;
    }
    .caja-flex.programs {
        justify-content: center;
    }
/**************************************************/
/** ========== defensa-personal.html =========== **/
/**************************************************/
    .main-defensaPer p {
        text-align: justify;
    }
    .contenedor_flex-defensaP {
        flex-wrap: nowrap;
    }
    .contenedor_flex-defensaP figure {
        margin: 20px 10px;
    }
    #defensa_tec figure {
        margin-right: 0px;
    }
    .texto-defensaP {
    margin: 0 50px 35px;
    }
    #defensa_intro .texto-defensaP {
        margin-left: 0;
    }
/******* div#defensa_esp  en ordenador *******/
    #defensa_esp p {
        display: inline-block;
        margin-top: 50px;
        line-height: 2em;
    }
/****** para el efecto img hover *******/
    #defensa_femenina figure {
        margin-right: 40px;
        margin-top: 40px;
        flex: 350px 1 1;
    }
/***** Para separarse entre si cada parte ****/
    .lineaBottom {
        margin-bottom: 50px;
    }
    .def-def {
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .def-def .texto-defensaP {
        flex: 1 1 300px;
        padding: 20px;
    }
    .def-def figure {
        flex: 1 1 300px;
        margin: 20px auto;
        padding: 20px;
    }
    .def-def img {
        width: 100%;
    }
    .listas-vent {
        display: flex;
        gap: 20px;
    }
    .lista1 {
        width: initial;
        flex: 1 1 50%;
    }
    .lista2 {
        width: initial;
        flex: 1 1 50%;
    }

/*****************************************/
/* ============ contacto.html ========== */
/*****************************************/

/******* formulario *******/
    #contacto-form.form {
        background-image: none;
    }
    div.foto-form {
        display: block;
        background-image: url("../img/contacto/fondoForm-2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .flex-form {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        gap: 20px;
    }
    div.inputs,
    .titulo-form {
        width: initial;
    }

    /* === ARREGLO DEL MENÚ EN DEFENSA PERSONAL === */
    .menu-container {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    nav.main-menu-pc {
        margin: 0;
        padding: 0;
    }
    .list-menu-pc {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .list-menu-pc li {
        margin: 0;
        padding: 0;
    }
    header.home-header h1,
    header.home-header h2,
    header.home-header h3 {
        margin-top: 0;
    }
/**************************************************/
/** ============ galeria-tamo.html ============= **/
/**************************************************/
    .contenido-modal {
        padding: 20px;
        width: 80%;
        max-width: 700px;
    }


}