/*** Excepciones ***/

/*********************************/
/* esuela-kung-fu secc salud *****/
@media (min-width: 980px) {
    .icono-yin-secc-salud {
        inset: 90% auto auto 75%;
    }
}
/*********************************/








@media (min-width: 996px) {

/*****************************************/
/* * * * *   generales e index   * * * * */
/*****************************************/
    header.home-header {
        background: linear-gradient(#2225, #2225), url('../img/header.png');
        background-repeat: no-repeat;
        background-position: top right;
        background-size: 60%;
        padding: 20px 20px;
        height: 60vh;
    }
    h1 {
        font-size: 3rem;
    }
    .main-title.header-h2-hist-kungfu {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .caja-titulo p {
        font-size: 1.4rem;
    }
    .caja-titulo {
        padding-right: 300px;
    }
    .cel-titulo {
        display:none;
    }
    .section-main-title, .main-title {
        font-size: 3rem;
        padding: 80px 0;
    }
/*** ===== Contenedor principal ===    */
    .principal-box, .section-principal-box {
        padding: 20px;
    }
/*** ===== MENU PARA PC ===    */
    .menu-container {
        display: none;
    }
    div#header-top-container {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        background-color: var(--transparente); /* para que se vea la imagen de fondo */
        margin-bottom: 30px;
        height: 52px;
    }
    a.btn-pc-only {
        display: inline-block;
        white-space: nowrap;
    }
    div#nav-container-pc {
        display: block;
        height: 100%;
    }
    ul.list-menu-pc {
        display: flex;
        justify-content: space-between;
    }
    nav.main-menu-pc li {
        width: fit-content;
    }
    .down {
        color: var(--color-blanco);
        font-size: 1.3rem;
    }
    li.li-despliegue {
        position: relative;
    }
    nav.main-menu-pc a {
        color: #fff;
        display: inline-block;
        text-align: center;
        align-content: center;
        padding: 10px;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        font-size: 1rem;
    }
    a.submenu-item-pc {
        width: initial;
    }
    nav.main-menu-pc a:hover {
        color: var(--color-rojo);
        transform: scale(1.08);
        font-weight: 600;
        border-left: 2px solid var(--color-rojo);
        margin-left: 5px;
        background-color: #5555;
    }
        /* para el despliegue del submenu */
    ul.list-menu-pc > li {
        position: relative;
    }
    ul.despliegue-secundario {
        padding: 20px 30px 20px 20px;
        position: absolute;
        top: 100%;
        left: 0;
        opacity: 0;
        visibility: hidden;
        background-color: var(--colorFondo1);
        transition: opacity 0.3s ease, transform 0.3s, visibility 0.3s;
        box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2);
    }
    li.li-despliegue:hover > ul.despliegue-secundario {
        opacity: 1;
        visibility: visible;
    }
    ul.despliegue-secundario li a {
        position: relative;
        /*left: 13px;*/
        transition: transform 0.3s ease, color 0.3s ease;
    }
    .despliegue-secundario > li {
        position: relative;
        padding-left: 5px; /* espacio para la flecha */
    }

    /* Estado inicial: sin flecha visible 
    .despliegue-secundario > li::before {
      content: "➤";           /* flecha 
      position: absolute;
      left: 0;                /* a la izquierda del texto 
      top: 50%;
      transform: translateY(-50%);
      opacity: 0;
      color: var(--color-rojo); /* color de la flecha 
      font-size: 0.8em;
      transition: opacity 0.3s ease;
      
    }*/
    /* Al hacer hover: aparece la flecha 
    .despliegue-secundario > li:hover::before {
      opacity: 1;
      
    }*/

    
/*** ===== Numero de personas ===    */
    .section-media-num, .media-num {
        display: block;
        display: flex;
    }
    .flex-num {
        display: none;
    }
/*** ===== Iconos yan-yin en pc ===    */    
    .students h2, .years-experience h2 {
        font-size: 4rem;
    }
    .icono-yin {
        inset: 87% auto auto 40%;
        width: 130px;
        height: 100px;
    }
    .icono-yan {
        inset: -9% auto auto 70%;
        width: 133px;
        height: 100px;
    }
    .icono-yin.yin-sect-tamo, #seccion-sobreTa-mo .yan-sect-tamo {
        display: none;
    }
    .caja-titulo {
        padding-right: 300px;
    }
    .desp {
        display: block;
    }
    h3.desp {
        margin:30px 0 60px 0;
    }
/*** ===== TITULACIONES ===     */
    .titulaciones-flex {
        display: flex;
        gap: 10px;
    }
    .titulaciones-flex ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
/*** ===== FOOTER ===       */ 
    footer .img-flex.video {
        text-align: initial;

    }
    .footer-caja-flex {
        justify-content: space-between;
    }
    .content-copy {
        text-align: initial;
    }

    .content-flex {
        text-align: initial;
    }
    .horari {
        justify-content: initial;
    }
/*****************************************/
/* ============ historia-kungfu.html === */
/*****************************************/
/****** seccion historia introducción  ***/
    .contenedor_intro-kungfu {
        flex-wrap: nowrap;
        text-align: initial;
        align-items: flex-start;
    }
    .contenedor_intro-kungfu h2, .contenedor_intro-kungfu h4 {
        text-align: initial;
    }
    #historia_intro-kungfu .contenedor_texto-kungfu {
        flex: 1 1 400px;
        margin-left: 20px;
        padding: 0;
    }
    .contenedor_intro-kungfu iframe {
        flex: 1 1 400px;
    }
    #historia_intro-kungfu p {
        text-align: initial;
    }
/****** seccion historia origen  ***/
    .contenedor_origen-kungfu {
        align-items: flex-start;
    }
    #historia_origen-kungfu .contenedor_origen-kungfu .contenedor_texto-kungfu {
        flex:1 1 500px;
        text-align: initial;
        padding: 0;
        padding-left:10px;
    }
    #historia_origen-kungfu .contenedor_origen-kungfu figure{
        max-width: 450px;
    }
    #historia_origen-kungfu .texto_mas-kungfu {
        margin-top: 20px;
    }
    #historia_origen-kungfu p {
        text-align: initial;
    }
    #historia_origen-kungfu .texto_mas-kungfu figure {
        margin-top: 0;
        flex-basis: 400px;
        margin-left: 10px;
        margin-bottom: 0;
    }
    #historia_origen-kungfu .texto_mas-kungfu p {
        margin-left: 20px;
        flex-basis: 500px;
        padding: 0px;
    }
    #historia_origen-kungfu .boton_esp {
/*      margin: -50px 0px 20px -50%;*/
    }
/****** seccion historia evolucion  ***/
    #historia_evolucion-kungfu .texto_mas-kungfu.texto_flex-kungfu {
        flex-wrap: nowrap;
    }
    #historia_evolucion-kungfu .texto_mas-kungfu.texto_flex-kungfu p {
        flex-basis: 500px;
        text-align: left;
        margin-right: 20px;
    }
    #historia_evolucion-kungfu .texto_mas-kungfu p {
        text-align: left;
    }
    #historia_evolucion-kungfu .texto_mas-kungfu div.mas_flex-kungfu {
        align-items: baseline;
    }
    #historia_evolucion-kungfu .texto_mas-kungfu div.mas_flex-kungfu p {
        flex-wrap: nowrap;
        flex: 1 1 250px;
    }
    .contenedor_img-kungfu {
        flex-wrap: nowrap;
    }
    .linea-kungfu {
        display: block; /* aparecer la línea dashed */
        border-bottom: 1px dashed var(--color-rojo);
        position: absolute;
        top: 22%;
        right: 14%;
        left: 14%;
    }
/*****************************************/
/* ============ escuela-kungfu.html === */
/*****************************************/

/****** seccion escuela-kungfu / seccion salud ***/
    .caja-position-escue-kungfu {
        position: relative;
        align-items: flex-end;
    }
    .caja-titulo-header-escue-kungfu {
        width: 450px;
        height: 300px;
    }
    h2.header-h2-escue-kungfu { 
        font-size: 3rem;
        padding: 0 0 40px;
    }
    .segunda-linea-main-title2 {
        font-size: 3.5rem;
        color: var(--color-rojo);  
    }
    .texto-escue-kungfu {
        margin:15px;
    }
    .icono-yan-secc-salud {
        inset: 1% auto auto 35%;
        width: 163px;
        height: 123px;
    }
    .icono-yin-secc-salud {
        inset: 91% auto auto 75%;
        width: 163px;
        height: 123px;
    }
/**** averiguar ****
 * .titulo {
        text-align: center;
        font-size: 2.5rem;
        margin-top: 100px;
    }
    *****/



















}