         .section-header {
            background-image:linear-gradient(
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)
            ), url(../img/pose77.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            padding-bottom: 200px;
        }
       .caja-flex{
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
    }
    .img-flex{
        flex: 310px 1 1;
    }
    .content-flex{
        flex: 328px 1 1;
        text-align: initial;
    } 
    /*********************************contenido********************************/
    .titulos{
        text-transform: capitalize;
        font-weight: 400;
        font-size: 2.8rem;
        color: var(--color-blanco);
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .blanco{
        color: var(--color-blanco);
        font-weight: 500;
    }
    .rojo{
        font-weight: 400;
        color: var(--color-rojo);
    }
    /******************fondo***********/
    .fondo{
        background-color: var(--colorFondo1);
    }
    .fondo_2{
        background-color: #1d1d1d;
    }
    .circulo-fondo{
        background-color: var(--color-rojo);
         filter: blur(240px); 
        border-radius: 100%;
        width: 300px;
        height: 300px;
        position:relative;
        top: 0%;
        bottom: auto;
        left: 0;
        z-index: -1;
    }
/**************************seccion-sobreTa-mo******************+*************/
    .seccion-tipo-video{
        margin-bottom:  20px;
        padding-top: 20px;
    }
    .seccion-tipo-video h2{
        margin-bottom: 10px;
    }
    .seccion-tipo-video .content-flex p{
        font-size: 1.6rem;
        
        color: var(--color-texto);
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5em;

    }
    .seccion-tipo-video .content-flex{
        margin-bottom: 20px;
    }
    .seccion-tipo-video .content-flex{
        line-height: 30px;
    }
/******************cajade imagenes****************/

    .icono-yin{
        object-fit: cover;
         margin-left: -90px; 
        inset: 5% auto auto 0%; 
        background-image: url("../img/yingArriba.png");
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: cover;
        width: 130px;
        height: 100px;
        position: absolute;
        
    }
    .icono-yan{

        object-fit: cover;
         margin-left: -90px; 
        inset: 85% auto auto 75%; 
        background-image: url("../img/yangParaAbajo.png");
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: cover;
        width: 133px;
        height: 100px;
        position: absolute;

    }
    .video.img-flex{
        
          width: 100%;
        height: 370pxpx;
        position: relative;
        flex: 400px 1 1;
        
    }
    .video-contain {
        width: 100%;
        margin: auto;
        height:350px; 
        filter: sepia(100%);
          border: none;
          border-radius: 5px; 
            box-shadow: 10px 20px 20px 0px rgba(0, 0, 0, 0.4); /* Agrega una sombra sutil */
            
    }
/************caja de iconos************/
    .icons-caja{
        justify-content: space-between;
    }
    .icons-caja>span{
        color: var(--color-blanco);
        margin: 5px;
        font-size: 1.5rem;
        box-shadow: 10px 20px 20px 0px rgba(0, 0, 0, 0.4); /* Agrega una sombra sutil */
    }

    .image-contain{
         filter: contrast(0.5);
        margin: auto;
        object-fit: contain;
        max-width: 200px;
    }
    /****************************************seccion-saludsegunda seccion****************/
    .seccion-tipo-imgs{
        margin-top: 30px;
        padding-bottom: 50px;
    }
    .seccion-tipo-imgs .content-flex .caja-flex{
        gap: 20px;
    }
    .seccion-tipo-imgs .caja-mar{
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        display: flex;
        background-color: #2f2e2e;
        width: 100%;    
        cursor: pointer;
    }
    .seccion-tipo-imgs .caja-mar .icon-arrow{
        color: var(--color-rojo);
        transition: .5s;
    }
    .seccion-tipo-imgs .caja-mar:hover h3,  .seccion-tipo-imgs .caja-mar:hover .icon-arrow{
        color: var(--color-blanco);
        transition: .5s;
    }
    .seccion-tipo-imgs .caja-mar:hover .nums{
        color: var(--color-rojo);
        transition: .5s;
    }
    .seccion-tipo-imgs .caja-mar h3{
        font-weight: 400;
        color: var(--color-rojo);
        font-size: 2rem;
        transition: .5s;
    }
    .seccion-tipo-imgs .nums{
        color: var(--color-blanco);
        letter-spacing: .2em;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
        transition: .5s;
    }

    .seccion-tipo-imgs p{
        color: var(--color-texto);
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.5em;
    }   
    
    .seccion-tipo-imgs .flex-izq{
        gap: 20px;
        align-items: center;
        display: flex;
        text-align: justify;
    }       
    
    .imagen_hrs{
        height: 470px;
        max-width: 140px;
        flex: 130px 1 1;
        position: relative;
            object-fit: cover;
        width: 100%;
        overflow: hidden;
         object-position:center ; /* Mueve la imagen hacia la derecha */
         filter: drop-shadow(1px 2px 4px black);
    }
    .seccion-tipo-imgs .content-flex.caja-flex{
        position: relative;
        
        justify-content: center;
    }
    .img-top{
        margin-top: 80px;
    }
    .pc-icono{
        display: none;
    }
/*  ******************************footer**********************+*/
footer{
    padding-top: 30px;
    position: relative;
    overflow: hidden;
}
footer .caja-mar{
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: flex;
    
}
footer .desplegable{
    background-color: #2f2e2e;
    width: 100%;
    padding: 30px 20px;

}

footer .img-flex.video{
        text-align: center;
        
    }
footer .caja-flex .content-flex{
height: 100%;

}
footer .caja-mar h3{
    font-weight: 500;
    color: var(--color-rojo);
    font-size: 1.2rem;
}
footer p{
    color: var(--color-texto);
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.5em;
    
}

/*************footer-logo****************/
footer .caja-flex.text_logo{
    margin: 49px 0px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}
footer .text_logo {
    text-align: center;
}
 footer .cta-button{
    margin-right: 0px;
 }
/********************footer-copy*********/
.footer-caja-flex{

    border-top: 1px solid var(--color-texto);
    padding: 70px 0px;
    display: flex;
    
    gap: 5px;
    color: var(--color-blanco);
    flex-wrap: wrap;
    justify-content: center;
}
.foot-menu-flex{
    list-style: none;
    gap: 10px;
    display: flex;
}


.content-copy{
    text-align: center;
}

.foot-menu-flex a{
    font-size: 0.9rem;
    text-decoration: none;
    color: var(--color-blanco);
    transition: 0.4s;
}
.foot-menu-flex a:hover{
    color: var(--color-rojo);
    transition: 0.4s;
}
.circulo-fondo_foot{
     filter: blur(200px); 
    background-color: var(--color-rojo);
   position: absolute;
    border-radius:50%;
    width: 300px;
    height: 200px;
    left: 40%;  

}
/****************************desplegable*******/
.icon-arrow{
    transform: scale(1.1);
    color: var(--color-rojo); 
    font-size: 1.5rem
}
.acordeon{
        max-height: 0;
        overflow: hidden;
        transition: 0.3s ease-out; 
    
}
.desplegable{
    cursor: pointer;
    width: 100%;
}
.fondo_2{
    position: relative;
    padding-bottom: 30px;

}
.circulo-fondo_centro{
    overflow: auto;
    
     background-color: var(--color-rojo);
     filter: blur(200px); 
    border-radius: 100%;
    max-width: 300px;
    max-height: 300px;
    width: 160px;
    height: 160px;
    position: absolute;
    top: 0%;
    bottom: auto;
    left: 50%;

}
/*         ***********************++*/
  .horari{
            display:flex;
            gap:20px;
           justify-content: initial;
           width:100%;
           flex-wrap:wrap;
        }
        .caja-flex.fecha{
            gap:10px;
            align-items: center;
            flex-wrap: nowrap;
            justify-content: space-between;
        }
        #seccion-clases .caja-flex.fecha p{
            font-size:0.9rem;
        }
       

            .caja-flex.programs .cta-button {
           max-width: 300px;
            margin: initial;
            }
             .centro{
            margin:initial;
            align-items: center;
            text-align: left;
            }
             .caja-flex.programs{
            flex: 328px 1 1;
            text-align:center;
            align-items: center;
            justify-content: space-between;
             }
               /* Media query para pantallas móviles */
        @media (max-width: 1004px) {
            .section-header {
                padding-bottom: 100px;
            }

            .section-main-title {
                text-align: center;
                font-size: 2.5rem;
                margin-top: 100px;
            }

            .section-menu {
                display: flex;
                flex-direction: column;
                position: fixed;
                top: 0;
                right: -300px;
                height: 100%;
                width: 250px;
                background-color: #333;
                border-left: 2px solid #444;
                padding: 10px;
                transition: right 0.3s ease;
                display: none;
            }

            .section-menu li {
                margin: 10px 0;
            }

            .section-submenu {
                position: static;
                padding-left: 15px;
                margin-top: 5px;
            }

            .section-menu.show {
                right: 0;
                display: block;
            }

            .section-menu-toggle,
            .section-close-menu {
                display: block;
            }

            .section-cta-button {
                display: none;
            }

            .section-enroll-btn1 {
                display: block;
                margin-right: 50px;
            }

            .section-button {
                display: flex;
            }

            .section-close-menu {
                position: absolute;
                top: 10px;
                right: 10px;
                background: none;
                border: none;
                font-size: 30px; /* Tamaño adecuado para la X */
                color: white;
                cursor: pointer;
                padding: 10px; /* Ajusta el padding para que la caja sea solo un poco mayor que la X */
                width: auto;
                height: auto;
                line-height: 1;
            }

            .section-media-num {
                display: none;
            }

            .section-flex-num {
                display: block;
                display: flex;
                padding-top: 20px;
            }
             .caja-flex.programs{
            flex: 328px 1 1;
            text-align:left;
            align-items: center;
            justify-content: space-between;
        }
       
           .centro{
            margin:auto;
            align-items: center;
            text-align: center;
            }
        .section-enroll-btn2{
            flex: 228px 1 1;
        }
        .caja-flex.programs .section-enroll-btn2 {
            flex: 270px 1 1;
            margin: auto;
            max-width: none;
            }
            .horari{
               justify-content: center;  
            }
            .content-flex{
                text-align:center;
            }
        }
